{% extends "layout.html" %}
{% block title %}
keras
{% endblock %}


{% block body %}
<header>

<h1>Введение в Keras/TF</h1>
</header>

<ul>

	<li>
<div class="embed-responsive embed-responsive-4by3"> 
<iframe src="https://dzen.ru/embed/oaUaDlZ4OAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" o9KlQFHpaU3QQaVw="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>


	<li><a href="data/slides/lec03a.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="https://colab.research.google.com/drive/1QMrUPFK80LxUu7NihVKIMQ6Xe8d3vT9M?usp=sharing">colab</a></li>
	<li><a href="/psets/heart.html">Задание</a></li>
</ul>
{% endblock %}
