{% extends "layout.html" %}
{% block title %}
Встраивание слов
{% endblock %}


{% block body %}
<header>

<h1>Встраивание слов</h1>
</header>

<ul>
	<li><a href="data/slides/lec06.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="https://colab.research.google.com/drive/1ZN8JxyTC3ueyiPwHQEGz03b9XAJQsdGe?usp=sharing">colab</a></li>
</ul>
Eng оригинал
<ul>
	<li><a href="data/slides/lec06eng.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="https://colab.research.google.com/drive/18kk6roX0txFf_blUT5b0WtdX4ATQH2fS?usp=sharing">colab</a></li> 
</ul>

{% endblock %}
