{% extends "layout.html" %}
{% block title %}
Неделя 0
{% endblock %}


{% block body %}
<header>
<h1>Электрическое поле</h1>
</header>
<iframe width="560" height="315" src="https://www.youtube.com/embed/J_b1agHc80I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<ul>
	<li><a href ="notes_static.html">Заметки</a></li> 
	<li><a href="pset_static.html">Задания</a></li>
</ul>
{% endblock %}
