{% extends "layout.html" %}
{% block title %}
cs50.dev
{% endblock %}


{% block body %}
<header>

<h1>cs50.dev</h1>
</header>

<ul>
	<li>
	Зарегистрируйтесь на <a href="https://github.com">github.com</a>.
	<br>
		<div class="embed-responsive embed-responsive-4by3">
		<iframe  src="https://www.youtube.com/embed/UjuIHfZnsdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</li>
	<br>
	<li>Первый вход на <a href="https://cs50.dev">cs50.dev</a>.
		<br>

		<div class="embed-responsive embed-responsive-4by3">
		<iframe  src="https://www.youtube.com/embed/69vzN7va_is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		</li>

	<li>Настройки для отправки работ на проверку.<br>
		<div class="embed-responsive embed-responsive-4by3">
		<iframe  src="https://www.youtube.com/embed/8mC2w69RP_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div
	</li>
	<li>Выполните задание.<br>
		<div class="embed-responsive embed-responsive-4by3">
		<iframe  src="https://www.youtube.com/embed/o1iO5GghUSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</li>
	<li><a href ="notes_ide.html">Заметки</a></li> 
	<li><a href="/psets/pset_ide.html" target="_blank">Задания</a></li>
</ul>
{% endblock %}
