{% extends "layout.html" %}
{% block title %}
JavaScript, API
{% endblock %}

{% block body  %}

<header>

<h1>JavaScript, API</h1>
</header>
<ul>
	<li>
		JavaScript, API браузера
		<br>
		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/ZhFuqQOUPCs?si=TD2Un30ofs_aaD32" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</li>
	<li>
		AJAX
		<br>
		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/FrG1mXy4KkU?si=uDB0aJYPi-u58efI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

	</li>
	<li><a href="notes_JavaScript.html">Заметки</a></li>
	<li><a href="/cs23/data/javaScript.zip">Исходный код</a></li>
</ul>
{% endblock %}

