{% extends "layout.html" %}
{% block title %}
SQL
{% endblock %}


{% block body %}
<header>

<h1>SQL</h1>
</header>


<br>


	<p>
	Материал заимствован с <a href="https://cs50.harvard.edu/web/2018/notes/3/">CS50'x Web Programming</a></p>

<ul>
	<li>
		Создание базы данных на <a href="https://render.com">render.com</a>, создание переменной окружения <code>DATABASE_URL</code>.<br>
<iframe width="640" height="498" src="https://www.youtube.com/embed/EIlZdln3180?si=Da2sD5eLuffD3Uvk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</li>
	<li>
		Создание таблиц, вставка данных.
		<br>
<iframe width="640" height="498" src="https://www.youtube.com/embed/o0_yPJ0yvYQ?si=N7kTgOHLB3k-hb8t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</li>
	<li>
		Запросы: select, update, delete.
		<br>
<iframe width="640" height="498" src="https://www.youtube.com/embed/ECd9qZn7gd0?si=DqrY4l0Z7qn_tSA1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	</li>
	<li><a href ="notes_sql.html">Заметки</a></li> 
	<li><a href="pset_sql.html">Задания</a></li>
	<li><a href="/cs23/data/slides/sql.pdf">Слайды</a></li>
	<li><a href="/cs23/data/sql.zip">Исходный код к лекции</a></li>
</ul>
{% endblock %}
