{% extends "layout.html" %}
{% block title %}
Python  и  технологии программирования.
{% endblock %}


{% block body %}
<header>
</header>

<p>
 Большая часть материала взята с <a href="https://cs50.harvard.edu/web/2020/weeks/">CS50’s Web Programming with Python and JavaScript</a>,
 </p>
 <p>
В субботу 18.01.25 в 18:05 я создам конференц-комнату, где вы сможете задать вопросы по заданиям.
Попасть туда можно через EIOS.
За 5 минут до начала я размещу ссылку на этой странице.
<a href="https://eios.tspu.ru/rooms/2a81b050-f7a7-472d-969b-55c1b009b35f/join">конференция-комната</a>
 </p>
 <footer>
	 Если вы нашли ошибки в тексте, то напишите на vadim@tspu.edu.ru</a>. 
 </footer>
{% endblock %}


