{% extends "layout.html" %}
{% block title %}
django
{% endblock %}


{% block body %}
<header>

<h1>django</h1>
</header>
<main>

	<p>На сайте Гарварда смотрим 
	<a href="https://cs50.harvard.edu/web/2020/weeks/3/">lecture 3</a>,
	<a href="https://cs50.harvard.edu/web/2020/weeks/4/">lecture 4</a>,
	делаем все за преподавателем.
Если YouTube не работает, выберите ссылку на видео и скачайте его, например, 
	<a href="https://cdn.cs50.net/web/2020/spring/lectures/4/lecture4-720p.mp4.download">здесь</a>.
	</p>
	<p>

	</p>
</main>
{% endblock %}

