{% extends "layout.html" %}
{% block title %}
Sqlalchemy
{% endblock %}


{% block body %}
<header>

<h1>SQL</h1>
</header>


<br>


	<p>
	Материал заимствован с <a href="https://cs50.harvard.edu/web/2018/notes/3/">CS50'x Web Programming</a></p>

<ul>
	<li>

		Sqlalchemy.<br>

		<div class="embed-responsive embed-responsive-4by3">
<iframe   src="https://www.youtube.com/embed/lGI4n-ye_d8?si=TPxt4xBEICOXG3Gi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</li>
	<li>
		Flask + sql
		<br>
		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/hxCMzBhek6c?si=uePa00GGMzyq9zv7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</li>
	<li><a href ="notes_sqlalchemy.html">Заметки</a></li> 
	<li><a href="pset_sqlalchemy.html">Задания</a></li>
	<li><a href="/cs23/data/slides/sql.pdf">Слайды</a></li>
	<li><a href="/cs23/data/sqlalchemy.zip">Исходный код к лекции</a></li>
</ul>
{% endblock %}
