{% extends "layout.html" %}
{% block title %}
ide.cs50.io
{% endblock %}


{% block body %}
<header>

<h1>ide.cs50.io</h1>
</header>

<ul>
	<li>
	Зарегистрируйтесь на <a href="https://github.com">github.com</a>.
	<br>
		<iframe width="640" height="498" src="https://www.youtube.com/embed/UjuIHfZnsdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</li>
	<br>
	<li>Первый вход на <a href="https://cs50.dev">cs50.dev</a>.
		<br>

		<iframe width="640" height="498" src="https://www.youtube.com/embed/69vzN7va_is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</li>

	<li>Настройки для отправки работ на проверку.<br>
		<iframe width="640" height="498" src="https://www.youtube.com/embed/8mC2w69RP_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</li>
	<li>Выполните задание.<br>
		<iframe width="640" height="498" src="https://www.youtube.com/embed/o1iO5GghUSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</li>
	<li><a href ="notes_ide.html">Заметки</a></li> 
	<li><a href="pset_ide.html">Задания</a></li>
</ul>
{% endblock %}
