{% extends "layout.html" %}
{% block title %}
ide.cs50.io
{% endblock %}


{% block body %}
<header>

<h1>ide.cs50.io</h1>
</header>


<h2>Зарегистрируйтесь на <a href="https://github.com">github.com</a>.</h2>
<iframe width="640" height="498" src="https://dzen.ru/embed/vuCrcOZjLEgI?from_block=partner&from=zen&backoffice=0&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
<br>
<h2>Настройте <a href="https://code.cs50.io">code.cs50.io</a>.</h2>
<iframe width="640" height="498" src="https://dzen.ru/embed/v8QbBlbPJ0Bc?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
<br>
<h2>Выполните задание.</h2>
<iframe width="640" height="498" src="https://dzen.ru/embed/vp_GpLRzguTs?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
<br>
<ul>
	<li><a href ="notes_ide.html">Заметки</a></li> 
	<li><a href="pset_ide.html">Задания</a></li>
</ul>
{% endblock %}
