
{% extends "layout.html" %}
{% block title %}
	Кофе. 
{% endblock %}
{% block body %}
<h1>Кофе</h1>
<p>
Аппарат продаёт кофе за 50 рублей стакан
и принимает только монеты по 50, 20, 10, 5 рублей.
</p>
<p>
В файле coffee.py реализуйте программу, 
она приглашает
пользователя вставить монету (coin = input("Вставьте монету: ")), 
каждый раз информирую пользователя
о нужной сумме (например, print(f"Нужная сумма: {amount_due}")). 
Как только пользователь ввёл не менее 50 рублей,
программа выводит сумму сдачи (например, print(f"Ваша сдача: {change_owed}")).
</p>

<h2>Демонстрация</h2>
<script async id="asciicast-wuIuRgcs99raaMiH4aWyHAhcg" 
	      src="https://asciinema.org/a/wuIuRgcs99raaMiH4aWyHAhcg.js"
	data-autoplay="true" data-loop="true" data-rows="10" data-cols="80">
</script>


<h2>Шаги выполнения</h2>
<ul>
	<li>
Зайдите на <a href="https://code.cs50.io">code.cs50.io</a>. 
Используя команду cd, сделайте рабочим каталогом codespace.
Создайте каталог coffee,  выполнив
<pre>
<code>mkdir coffee</code>
</pre>
Перейдите в каталог.
<pre>
<code>cd coffee</code>
</pre>
</li>
<li>
Выполните 
<pre>
<code>
code coffee.py
</code>
</pre>
чтобы открыть редактор, и напишите вашу программу.
<h2>Как проверить</h2>
<p>Сделайте рабочим каталог с программой, запустите программу, выполнив:
<pre>
<code>
python coffee.py
</code>
</pre>
Программ должна вывести:
<pre>
<code>
Нужная сумма: 50
Вставьте монету: 
</code>
</pre>
Введите 20. Программ должна вывести:
<pre>
<code>
Нужная сумма: 30
Вставьте монету: 
</code>
</pre>
Введите 20. Программа должна вывести:
<pre>
<code>
Нужная сумма: 10
Вставьте монету: 
</code>
</pre>
Введите 5, программа выводит:
<pre>
<code>
Нужная сумма: 5
Вставьте монету:
</code>
</pre>
Введите 10. Программа должна вывести:
<pre>
<code>
Ваша сдача: 5
</code>
</pre>
</li>
<li>
Запустите программу выполнив python coffee.py. 
<pre>
<code>
Нужная сумма: 50
Вставьте монету: 
</code>
</pre>
Введите 30.  Программ должна вывести:
<pre>
<code>
Нужная сумма: 50
Вставьте монету: 
</code>
</pre>
</li>
</ul>

Вы можеет проверить правильность выполнения задания, выполнив команду
<pre>
<code>npx cs204 2023/coffee local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/coffee</code>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/coffee/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>

{% endblock %}
