{% extends "layout.html" %}
{% block title %}
Ветвления
{% endblock %}


{% block body %}
<header>

<h1>Ветвления</h1>
</header>


<br>

<ul>
	<li>
<iframe width="640" height="498" src="https://www.youtube.com/embed/1G_8Xc0D9L4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	</li>
	<li><a href ="notes_conditionals.html">Заметки</a></li> 
	<li><a href="pset_conditionals.html">Задания</a></li>
</ul>
{% endblock %}
