
{% extends "layout.html" %}
{% block title %}
	Глубокая мысль(Deep Thought)	
{% endblock %}
{% block body %}
<h1>Глубокая мысль (Deep Thought)</h1>
<pre>
— Хорошо, — промолвил компьютер и замолчал.
Пфоук и Лункуал лихорадочно дрожали. Волнение было невыносимым.
— Он вам в самом деле не понравится, — предупредил Пронзительный Интеллектомат.
— Говори!
— Хорошо, — сказал он. — Ответ на Великий Вопрос…
— Ну!
— Жизни, Вселенной и Всего Остального…
— Ну!
— Это… — произнес компьютер и замолчал.
— Ну!
— Это…
— Ну!!!
— Сорок два, — с бесконечным спокойствием сообщил компьютер.

 	Дуглас Адамс "Путеводитель для путешествующих автостопом по галактике"
</pre>
<p>
В файле deep.py реализуйте программу на Pyhton, которая приглашает 
пользователя ответить на главный вопрос жизни, вселенной и всего такого,
выводит Да, если пользователь отвечает 42 или сорок два (без учёта регистра),
иначе выводит Нет.</p>
<details> 
	<summary>Подсказка</summary> 
	<ul> 
		<li> 

		</li>
		<li> 
		</li>
	</ul>
</details>

<h2>Демонстрация</h2>
<script async id="asciicast-ckRJ7wUavgj6Di6OeloGGHVqh" 
	      src="https://asciinema.org/a/ckRJ7wUavgj6Di6OeloGGHVqh.js"
	data-autoplay="true" data-loop="true" data-rows="10" data-cols="80">
</script>


<h2>Шаги выполнения</h2>
Зайдите на <a href="https://code.cs50.io">code.cs50.io</a>. Выполните команду: 
<pre>
<code>cd </code>
</pre>
<pre>
Создайте каталог deep,  выполнив
<pre>
<code>mkdir deep</code>
</pre>
Перейдите в каталог.
<pre>
<code>cd deep</code>
</pre>
Выполните 
<pre>
<code>
code deep.py
</code>
</pre>
 создайте программу.
<h2>Как проверить</h2>
Сделайте рабочим каталог с программой, запустите программу, выполнив:
<pre>
<code>
python deep.py
</code>
</pre>
Введите 42 и нажмите Enter. Ваша программа должна вывести: Да.
Запустите вашу программу, введите сорок два и нажмите Enter.
Программа должна вывести: Да. Запустите программу и введите 32,
программа должна вывести: Нет.
<br>
Вы можеет проверить правильность выполнения задания, выполнив команду
<pre>
<code>npx cs204 2023/deep local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/deep</code>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/deep/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>

{% endblock %}
