{% extends "layout.html" %}
{% block tytle %}
Flask
{% endblock %}

{% block body %}

<h1>Flask</h1>
<p>Создание веб приложения.</p>

<br>
<iframe width="640" height="498" src="https://www.youtube.com/embed/H-EeAt0j-dk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>
<p>Размещение на render.com.</p>
<iframe width="640" height="498" src="https://www.youtube.com/embed/iQ6zO3j_N-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>



<ul>
	<li>
		<a href="notes_flask.html">Заметки</a>
	</li>
	<li>
		<a href="pset_flask.html">Задание</a>
	</li>
</ul>
{% endblock %}
