
{% extends "layout.html" %}
{% block title %}
Git
{% endblock %}


{% block body %}
<header>

<h1>
	Git
</h1>
</header>


<br>


<ul>
	<li>
		git, html
		<br>
<iframe width="640" height="498" 
		    src="https://dzen.ru/embed/vbUdMWydFjGc?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
	</li>
	<li>
		css<br>
			<iframe  width="640" height="498" src="https://www.youtube.com/embed/2mY_CbI56J8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</li>

	<li><a href ="notes_git.html">Заметки</a></li> 

	<li><a href="git_site.html">Задания</a></li>
</ul>
{% endblock %}
