{% extends "layout.html" %}
{% block tytle %}
Неделя 0
{% endblock %}


{% block body %}
<h1>cs50.dev</h1>
<h2>Регистрация и вход в среду разработки.</h2>
<p>Чтобы не устанавливать на домашний компьютер программное
обеспечение, необходимое для выполнения заданий, мы будем 
пользоваться средой на облаке <a href="https://cs50.dev">cs50.dev</a>. Входить в эту среду

мы будем через учётную запись на <a href="https://github.com">github.com</a>. 
</p>


<br>
<h2>Команды терминала</h2>
<ul>
	<li>ls - список файлов и папок</li>
	<li>mkdir - создать каталог</li>
	<li>rm - удалить файл или каталог</li>
	<li>cd - изменить рабочий каталог</li>
	<li>pwd - вывести рабочий каталог</li>
	<li>cp - копировать файл или папку</li>
	<li>mv - переместить файл или папку</li>
	<li>man - вывести справку</li>
	<li>code - открыть редактор</li>
</ul>
Через терминал мы будем общаться с ядром операционной системы.
Ядро операционной системы выполняет две функции. Первая функция -
 предоставление программам доступа к оборудованию, вторая - многозадачность.
Используя язык sh в терминале мы будем создавать папки, 
запускать программы... 
Создадим паку с именем week0 в домашнем каталоге пользователя.
Для этого выполните в окне терминала команду</p>
</p>
<pre>
<code>
~/$ mkdir ~/week0
</code>
</pre>
<p>~ - короткое обозначение домашнего каталога.  
Текущий каталог, или рабочий каталог - это каталог,
в котором программа начинает поиск файлов, 
если не указан полный путь. 
Следующая команда сделает
текущим каталогом каталок week0.
</p>
<pre>
<code>
~/$ cd ~/week0
</code>
</pre>

{% endblock %}
