{% extends "layout.html" %}
{% block tytle %}
Циклы
{% endblock %}


{% block body %}

<h1>Циклы</h1>
Циклы - это способ  сделать что-то несколько раз.
Например, мы можем 3 раза напечатать meow не используя цикл.
<pre>
<code class="language-python">
print("meow")
print("meow")
print("meow")
</code>
</pre>
Код с использованием цикла будет удобнее писать, читать, изменять.

<h2>while цикл</h2>
<pre>
<code class="language-python">
i = 3
while i != 0:
	print("meow")
	i = i - 1
</code>
</pre>
<code>+=, -=</code> операторы удобны для изменения переменных, 
так <code>i = i - 1</code> можно записать <code>i -= 1</code>
<pre>
<code class="language-py">
i = 0
while i < 3:
	print("meow")
	i += 1
</code>
</pre>

<h2>for цикл</h2>
<pre>
<code class="language-python">
for i in [0, 1, 2]:
	print(i, "meow")
</code>
</pre>
i последовательно принимает значения из списка <code>[0, 1, 2]</code>.
Тип данных <a href="https://digitology.tech/docs/python_3/library/stdtypes.html#list">list</a> (список).
В цикле for удобно использовать неизменяемый тип 
<a href="https://digitology.tech/docs/python_3/library/stdtypes.html#typesseq-range">range</a> (диапазон).
<pre>
<code>
class range(stop)
class range(start, stop[,step])
</code>
</pre>
С использованием range получим:
<pre>
<code class="language-python">
for i in range(3):
	print(i, "meow")
</code>
</pre>

<h2>Тест ввода пользователя</h2>
Допустим, программа ждёт от пользователя положительное
целое число. Можно использовать цикл для организации проверки
правильности ввода
<pre>
<code class="language-python">
while True:
	n = int(input("What's n? "))
	if n < 0:
   		continue
   	else:
   		break
 
for i in range(n):
   print("meow")
</code>
</pre>
<code>continue</code> - начать следующую итерацию цикла.
<code>break</code> - выйти из цикла. 
<pre>
<code class="language-python">
def main():
	number = get_number()
	meow(number)

def get_number():
	while True:
		n = int(input("What is n? "))
		if n > 0:
			break
	return n

def meow(n):
	for i in range(n):
		print("meow")

main()
</code>
</pre>


<h2>Тип данных <a href="https://digitology.tech/docs/python_3/library/stdtypes.html#list">list</a> (список)</h2>
<pre>
<code class="language-python">
students = ["Hermione", "Harry", "Ron"]
print(student[0])
print(student[1])
print(student[2])
</code>
</pre>
Список удобно обрабатывать в цикле.
<pre>
<code class="language-python">
students = ["Hermione", "Harry", "Ron"]
for student in students:
	print(student)
</code>
</pre>

<h2>len</h2>
<code>len</code> - функция возвращает  числу элементов.
Следующий код печатает имя студента и его положение в списке.
<pre>
<code class="language-python">
students = ["Hermione", "Harry", "Ron"]
n = len(students)
for i in range(n)):
	print(i, students[i])
</code>
</pre>
<h2><a href="https://digitology.tech/docs/python_3/library/stdtypes.html#dict">dict</a> тип данных (словарь) </h2>

dict - структура данных для связывания ключей с значениями.

<table class="table table-bordered">
	<tr> 
		<th>Hermione</th>
		<th>Harry</th>
		<th>Ron</th>
		<th>Darco</th>
	</tr>
	<tr>
		<td>Gryffinodr</td>
		<td>Gryffindor</td>
		<td>Gryffindor</td>
		<td>Slytherin</td>
	</tr>
</table>

Сопоставим студентам Хогвартса факультеты, используя
dict.
<pre>
<code class="language-python">
students={
	"Hermione": "Gryffindor",
	"Harry": "Gryffindor",
	"Ron": "Gryffindor",
	"Draco": "Slytherin"
	}
print(students["Hermione"])
print(students["Draco"])
</code>
</pre>
Для итерации по списку мы можем использовать цикл.
<pre>
<code class="language-python">
students={
	"Hermione": "Gryffindor",
	"Harry": "Gryffindor",
	"Ron": "Gryffindor",
	"Draco": "Slytherin"
	}

for student in students:
	print(student, sudents[student], sep=", ")
</code>
</pre>
Переменная student пробегает множество ключей из словаря.
Запись students["Ron"]   по ключу возвращает значение.
<p>Что если мы хотим иметь больше информации о студентах.</p>
<table class="table table-bordered">
	<tr>
		<th></ht>
		<th>name</th>
		<th>house</th>
		<th>patronus</th>
	</tr>
	<tr>
		<td>0</td>
		<td>Hermione</td>
		<td>Gryffindor</td>
		<td>Otter</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Harry</td>
		<td>Gryffindor</td>
		<td>Stag</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Ron</td>
		<td>Gryffindor</td>
		<td>Jack Russell terrier</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Draco</td>
		<td>Slytherin</td>
		<td></td>
	</tr>
</table>
Мы можем составить список из словарей.
<pre>
<code class="language-python">
students = [
	{"name": "Hermione", "house": "Gryffindor", "patronus":"Otter"},
	{"name": "Harry", "house": "Gryffinodr", "patrnous": "Stag"},
	{"name": "Draco", "house": "Slytherin", "patronus": None}
	]

for student in students:
	print(student["name"], student["house"], student["patronus"], set=", ")
</code>
</pre>

<h2>Марио</h2>
В игре Марио прыгает через препятствия. Давайте создадим 
текстовый представление игры.
<br>
<img src="/python23/data/images/mario.png">
<br>
Закодируем такой столбец:
<pre>
<code class="language-python">
def main()
	print_column(3)

def print_column(n):
	for i in range(height):
		print("#")

main()
</code>
</pre>
Давайте теперь создадим горизонтальный ряд.
<pre>
<code class="language-python">
def main():
	print_row(4)

def print_row(width):
	print("?" * width)

main()
</code>
</pre>
Далее реализуем построение из строк и столбцов
<pre>
<code class="language-python">
def main():
	print_square(3)

def print_square(size):
	#Для каждой строки в квадрате
	for i in range(size):
		# Для каждого кирпича в строке
		for j in range(size):
			print("#", end="")
		#Печатаем пустую строку
		print()

main()
</code>
</pre>
{% endblock %}

