{% extends "layout.html" %}
{% block tytle %}
Ветвления
{% endblock %}


{% block body %}

<h1>Ветвления</h1>
<h2>Операторы сравнения</h2>
Используя операции сравнения, мы можем построить логические выражения и 
использовать их для ветвления в программе. Приведём примеры
операторов сравнения: 
<ul>
	<li><code> > </code> и <code> < </code> - больше и меньше..</li>
	<li><code> >= </code> - больше или равно.</li>
	<li><code> <= </code> - меньше или равно.</li>
	<li><code> == </code> - равенство.</li>
	<li><code> != </code> - неравно.
</ul>

<h2>Инструкция if</h2>
<pre>
<code>
x = int(input("Введите x:"))
y = int(input("Введите y:"))
if x < y:
	print("x меньше чем y")
elif x == y:
	print("x равняется y")
else:
	print("x больше чем y")
</code>
</pre>
<h2>and, or, not</h2>
<pre>
<code>
score = int(input("Score: "))
if score >= 90 and score <= 100:
	print("Grade: A")
elif score >= 80 and scroe <90:
	print("Grade: B")
elif score >=70 and score < 80:
	print("Grade: C")
else:
	print("Grade: D")
</code>
</pre>

<h2>Инструкция match</h2>
<pre>
<code>
name = input("What's your name?")
match name:
	case "Harry" | "Herminone" | "Ron":
		print("Gryffindor")
	case "Draco":
		print("Slytherin")
	case _:
		print("Who?")
</code>
</pre>

{% endblock %}

