
{% extends "layout.html" %}
{% block tytle %}
1 Переменные и функции.
{% endblock %}


{% block body %}

<h1>Переменные и функции.</h1>
<h2>Где взять ответы?</h2>
<p>Заходим на <a href="https://docs.python.org/">https://docs.python.org/</a>.
Информация разбита на две части: Language Reference, Standard Library Reference.
Language Reference описывает синтакс и семантику языка.
Standard Library Reference описывает стандартную библиотеку, распространяемую 
с Python.
</p>
<h3>Встроенные функции</h3>
<p>Например, нас интересует функция печати print, 
заходим на <a href="https://docs.python.org/">https://docs.python.org/</a>
выбираем Library Reference, затем Buil-in Functions, в небольшом списке встроенных 
функции находим print.</p>
<pre>
<code>
print(*objects, sep=' ', end='\n', file=None, flush=False)
</code>
</pre>
Первый параметр с звёздочкой означает, что может быть несколько параметров,
разделённых запятыми, это позиционные параметры. Параметры set, end file, flush -
именованные. sep - разделитель между параметрами в строке (значение по умолчанию пробел), 
end - ставится в конце строки (значение по умолчанию символ конца строки "\n").  
Например:</p>
<pre>
<code>
print("Привет", 13, "Мир", sep=": ", end = "!!!")
print("Мыла Раму")
</code>
</pre>
<p>Следующий пример - функция ввода текста input. Смотрим справку.
</p>
<pre>
<code>
input(promt)
</code>
</pre>
<p>Аргумент promt функция выводит на стандартное устройство вывода, затем считывает ввод, преобразует в строку и возвращает. Пример:
</p>
<pre>
<code>
name = input('Как ваше имя?')
print('Привет,', name, "!")
</code>
</pre>
<h3>Встроенные типы данных</h3>
<p>Заходим на <a href="https://docs.python.org/">https://docs.python.org/</a>
выбираем Library Reference, затем Buil-in Types. 
Стандартные типы встроенные в интерпретатор.
</p>
<h4>Логический тип</h4>
<p>В этом типе только два значения: True, False.
Логические операции: or, and, not.</p>

<h4>Числовые типы - int, float, complex.</h4>
<p>Операции над числовыми типами: </p>
<table>
	<tr>
		<th>операция</th>
		<th>результат</th>
	</tr>
	<tr> 
		<td>x + y</td>
		<td>сумма x и y</td>
	</tr>
	<tr>
		<td>x - y</td>
		<td>разность x и y</td>
	</tr>
	<tr> 
		<td>x * y </td>
		<td>произведение</td>
	</tr>
	<tr>
		<td>x / y </td>
		<td>деление x на y</td>
	</tr>
	<tr>
		<td>x // y</td>
		<td>пол деления</td>
	</tr>
	<tr>
		<td>x % y</td>
		<td>остаток делания x на y</td>
	</tr>
	<tr>
		<td>abs(x)</td>
		<td>абсолютное значение x<td>
	</tr>
	<tr>
		<td>int(x)</td>
		<td>x конвертируется в int</td>
	</tr>
	<tr>
		<td>float(x)</td>
		<td>x  конвертируется в float</td>
	</tr>
	<tr>
		<td>x**y, pow(x, y)</td>
		<td>x в степени y</td>
	</tr>
</table>

<h5>Побитовые операции над типом int.</h5>
<table>
	<tr>
		<th>операция</th>
		<th>результат</th>
	</tr>
	<tr>
		<td>x | y </td>
		<td>побитовое или от x и y</td>
	</tr>
	<tr>
		<td>x ^ y</td>
		<td>побитовое исключающее или от x и y</td>
	</tr>
	<tr>
		<td>x & y</td>
		<td>побитовое и от x и y</td>
	</tr>
	<tr>
		<td>x << n</td>
		<td>x сдвигается влево на n бит</td>
	</tr>
	<tr>
		<td>x >> n</td>
		<td>x сдвигается вправо на n бит</td>
	</tr>
	<tr>
		<td>~x</td>
		<td>инвертирование битов x</td>
	</tr>
</table>
			
math - модуль предоставляет доступ к многим функциям. Например, вычислим наибольший 
		 общий делитель.</p>
<pre>
<code>
import math
x = int(input("x = "))
y = int(input("y = "))
print("gcd(", x ,", ", y, ") = ", math.gcd(x, y))
</code>
</pre>
		 
<h4>Форматированная строка</h4>
<p>Смотрим Language Reference-> Lexical analysis -> Formatted string literals.
Форматированная строка начинается с f, 
может содержать поля замены, они заключены в {}.
</p>
<pre>
<code>
z = 1.0 / 3.0;
print(f"1/3 = {z}")
print(f"1/3 = {z:.2f}")
</pre>
</code>
<h4>str тип</h4>
<p>Смотрим справку Standard Library Referece -> Buit-in Types-> Text Sequence Type -str. 
Текст представляется объектом str. Есть несколько строковых литер:</p>
<pre>
Одинарные кавычки: 'пример'
Двойные кавычки: "пример"
Тройные кавычки: '''пример''', """пример"""
</pre>
<p>Тройные кавычки могут на несколько строк распространяться.</p>
<h5>str методы</h5>
<p>Приведём некоторые примеры методов.
capitalize - возвращает копию строки с заглавной первой буквой.

lower - создаёт копию с большими конвертированными в маленькие.
split(sep=None, maxsplit=-1) - создаёт список слов из строки, используя sep,
как разделитель.</p>
<pre>
<code>
>>>'1,2,3'.split(',')
['1', '2', '3']
</code>
</pre>
<p>str.format(*args, **kwrags). Строка может содержать литерал текст или
поля замены ограниченные скобками {}. Поле замены может содержать индекс 
позиционного аргумента, или имя именованного аргумента. 
Можно задать опции форматирования.
</p>
<pre>
<code>
import math
print('{0:a>10.2f}{1:,>10.3f}'.format(math.e, math.pi))
print('{n:b}'.format(n = 5))
a = 'Hello, '
b = 'Wordl! '
c = a + b
print(c)
c = c * 3
print(c)
</code>
</pre>

<h2>Задание функции</h2>
<p>Пример задания функции.</p>
<pre>
<code>
def main():
	x = int(input("x?"))
	print("x в квадрате будет", square(x))

def square(x):
	return x * x

main()
</code>
</pre>

{% endblock %}

