
{% extends "layout.html" %}
{% block title %}
	Скорость воспроизведения
{% endblock %}
{% block body %}
<h1>Скорость воспроизведения</h1>
<p>
В файле playback.py реализуйте программу, которая считывает ввод пользователя
и возвращает его, заменив все пробелы на ...(на три точки).
</p>
<details> 
	<summary>Подсказка</summary> 
	<ul> 
		<li> 
			Напомним, что input возвращает тип str, см. 
					<a href="https://docs.python.org/3/library/functions.html#input">docs.python.org/3/library/functions.html#input</a>
		</li>
		<li> 
			Тип str имеет много методов, см <a href="https://docs.python.org/3/library/stdtypes.html#string-methods">docs.python.org/3/library/stdtypes.html#string-methods</a>
		</li>
	</ul>
</details>


<h2>Шаги выполнения</h2>
Зайдите на <a href="https://ide.cs50.io">ide.cs50.io</a>. Выполните команду: 
<pre>
<kbd>cd </kbd>
</pre>
<p>
<pre>
Создайте каталог playback,  выполнив
<pre>
<kbd>mkdir playback</kbd>
</pre>
Перейдите в каталог.
<pre>
<kbd>cd playback</kbd>
</pre>
Выполните 
<pre>
<code>
code playback.py
</code>
</pre>
чтобы открыть редактор, и напишите вашу программу.
<h2>Как проверить</h2>
<p>Сделайте рабочим каталог с программой, запустите программу, выполнив:
<pre>
<code>
python indoor.py
</code>
</pre>
Введите мама мыла раму и нажмите Enter. Ваша программа должна вывести мама...мыла...раму.

Вы можеет проверить правильность выполнения задания, выполнив команду
<pre>
<kbd>npx check204 2023/playback local</kbd>
</pre>
Для отправки на проверку выполните команду
<pre>
<kbd>npx check204 2023/playback</kbd>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/playback/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>

{% endblock %}
