{% extends "layout.html" %}
{% block title %}
Частотный отклик, график Боде.
{% endblock %}


{% block body %}
<header>

<h1>Частотная характеристика, график Боде
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/x9f8U6RvLak?si=sUd5ulfVgDzKt91W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href="/modeling/data/slides/11_ct_frequency_response_bode.pdf">Слайды с mit</a></li>
	<li><a href ="notes_ct_frequency_response_bode.html">Заметки</a></li> 
	<li><a href="/psets/bode_plots.html">Задания</a></li>
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-11-continuous-time-ct-frequency-response-and-bode-plot/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
