{% extends "layout.html" %}
{% block title %}
Управление рботом
{% endblock %}


{% block body %}
<header>

<h1>Управление роботом</h1>
</header>

<ul>
	<li>Установка программного обеспечения

		<br>
		<div class="embed-responsive embed-responsive-4by3">

<iframe src="https://dzen.ru/embed/vYUU5K_taJic?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-u4tAp8dcJ="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
<!--
<iframe  src="https://www.youtube.com/embed/YPpi7ff-Rj4?si=kRbFTqr3_I0bjSdJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
-->
		</div>

	</li>
	<li>Поворот робота
		 <br>
		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/vxadVI-pH_0g?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-u4tAp8dcJ="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		 <!--
<iframe  src="https://www.youtube.com/embed/QDTb7LvtWnA?si=A7G5o39gete-Srnf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		 -->
		</div>
	</li>

	<li>Квадратная спираль
		<br>

		<div class="embed-responsive embed-responsive-4by3"> 
<iframe  src="https://dzen.ru/embed/vJV_x39xTdy4?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-u4tAp8dcJ="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
<!--
			<iframe src="https://www.youtube.com/embed/KLQ2BC0raK8?si=Ne5450gw0VshBjY6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
-->
		</div>
	</li>
	<li><a href ="notes_controlRobot.html">Заметки</a></li> 
	<li><a href="pset_controlRobot.html" target="_blank">Задания</a></li>
	<li><a href="data/controlRobot.zip">Исходный код</a></li>
</ul>
{% endblock %}
