{% extends "layout.html" %}
{% block title %}
Непрерывные системы
{% endblock %}


{% block body %}
<header>

<h1>Непрерывные системы 
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/af17mQg9GwU?si=eg1RvdmkkCgxFw3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href ="notes_continuous_time.html">Заметки</a></li> 
</ul>
{% endblock %}
