{% extends "layout.html" %}
{% block title %}
Свёртка
{% endblock %}


{% block body %}
<header>

<h1>Свёртка</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
	</div>
	<li>
		<a href="/modeling/data/slides/8_convolution.pdf">Слайды с mit</a>
	</li>

	</li>
	<li><a href ="notes_convolution.html">Заметки</a></li> 
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-8-convolution/">Материал взят с mit 6.003</a></li>
</ul>
{% endblock %}
