{% extends "layout.html" %}
{% block title %}
Дискретная аппроксимация непрерывных систем
{% endblock %}


{% block body %}
<header>

<h1> 
Дискретная аппроксимация непрерывных систем
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/wYvqOTeu-0s?si=baH-jnoSP99zKSh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href="/modeling/data/slides/7_discret_approximation_of_continuous.pdf">Слайды с mit</a></li>
	<li><a href ="notes_dt_approximation_ct.html">Заметки</a></li> 
	<li><a href="psets_dt_approximation_ct.html">Задания</a></li>
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-7-discrete-approximation-of-continuous-time-systems/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
