{% extends "layout.html" %}
{% block title %}
Представление Фурье.
{% endblock %}


{% block body %}
<header>

<h1>
Представление Фурье.
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/8COukMq3H2Y?si=Nr-3Nd5ZelAw9j_e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href="/modeling/data/slides/14_fourier_representation.pdf">Слайды с mit</a></li>
	<li><a href ="notes_fourier_representations.html">Заметки</a></li> 
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-14-fourier-representations/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
