{% extends "layout.html" %}
{% block title %}
Ряды Фурье.
{% endblock %}


{% block body %}
<header>

<h1>
Ряды Фурье.
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/vAfgHgtQFghg?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-o5Ao6JBjX="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		<!--
<iframe  src="https://www.youtube.com/embed/qIIwaQw-WT4?si=wUAmsMwBhxpnTkef" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		-->
	</div>
	</li>
	
	<li><a href="/modeling/data/slides/15_fourier_series.pdf">Слайды с mit</a></li>
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-15-fourier-series/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
