{% extends "layout.html" %}
{% block title %}
Преорбразование Фурье.
{% endblock %}


{% block body %}
<header>

<h1>
Преобразование Фурье.
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
	</div>
	</li>
	
	<li><a href="/modeling/data/slides/16_fourier_transform.pdf">Слайды с mit</a></li>
	<li><a href ="notes_fourier_transform.html">Заметки</a></li> 
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-16-fourier-transform/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
