{% extends "layout.html" %}
{% block title %}
Частотный отклик
{% endblock %}


{% block body %}
<header>

<h1>Частотная характеристика 
</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/zUG0LLfXL3I?si=z5MvxckB0o9gxQTD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href="/modeling/data/slides/9_frequency_response.pdf">Слайды с mit</a></li>
	<li><a href ="notes_frequency_response.html">Заметки</a></li> 
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-9-frequency-response/">Материал взят с  mit</a></li>
</ul>
{% endblock %}
