{% extends "layout.html" %}
{% block tytle %}
Соединение автоматов
{% endblock %}


{% block body %}
<h1>Соединение автоматов</h1>

<h2>Каскадное соединение</h2>
<img  src="/modeling/data/images/cascade.png">
<p> Две машины соединяем каскадом. Вывод из первой машины направляем на вход второй.
</p>
<pre>
<code class="language-python">
class Cascade(SM):
    def __init__(self, sm1, sm2):
        self.m1 = sm1
        self.m2 = sm2
        self.startState = (sm1.startState, sm2.startState)

    def getNextValues(self, state, inp):
        (s1, s2) = state
        (newS1, o1) = self.m1.getNextValues(s1, inp)
        (newS2, o2) = self.m2.getNextValues(s2, o1)
        return ((newS1, newS2), o2)
</code>
</pre>

<h2>Параллельное соединение</h2>
<img src="/modeling/data/images/parallel.png">
<pre>
<code class="language-python">
class Parallel(SM):
    def __init__(self, sm1, sm2):
        self.m1 = sm1
        self.m2 = sm2
        self.startState = (sm1.startState, sm2.startState)

    def getNextValues(self, state, inp):
        (s1, s2) = state
        (newS1, o1) = self.m1.getNextValues(s1, inp)
        (newS2, o2) = self.m2.getNextValues(s2, inp)
        return ((newS1, newS2), (o1, o2))
</code>
</pre>


<pre>
<code class="language-python">
class Parallel2(Parallel):
    def getNextValues(self, state, inp):
        (s1, s2) = state
        (i1, i2) = splitValue(inp)
        (newS1, o1) = self.m1.getNextValues(s1, i1)
        (newS2, o2) = self.m2.getNextValues(s2, i2)
        return ((newS1, newS2), (o1, o2))
</code>
</pre>

<h2>Автомат обратной связи</h2>
<img src="/modeling/data/images/feedback.png">
<pre>
<code class="language-python">
class Feedback(SM):
    def __init__(self, sm):
        self.m = sm
        self.startState = self.m.startState

    def getNextValues(self, state, inp):
        (ignore, o) = self.m.getNextValues(state, 'undefined')
        (newS, ignore) = self.m.getNextValues(state, o)
        return (newS, o)
</code>
</pre>

<pre>
<code class="language-python">
class Feedback2(Feedback):
    def getNextValues(self, state, inp):
        (ignore, o) = self.m.getNextValues(state, 'undefined')
        (newS, ignore) = self.m.getNextValues(state, (inp, o))
        return (newS, o)

</code>
</pre>

<h2>Счётчик</h2>
<img src="/modeling/data/images/counter.png">
<pre>
<code class="language-python">
def makeCounter(init, step):
    return sm.Feedback(sm.Cascade(sm.Increment(step), sm.Delay(init)))
</code>
</pre>

<h2>Управление устройством</h2>
<img src="/modeling/data/images/coupledMachine.png">
<p>Мы хотим управлять устройством (plant). Выход из устройства (обычно это показания датчиков)
отправляем на вход в контроллер и выход из контроллера (обычно это действия, управляющие устройством) 
отправляем на вход устройства.
</p>
<p>Рассмотрим робота, двигающегося к стене. Он имеет сенсор определяющий расстояние до стены \(d[t]\).
Мы хотим, чтобы робот остановился на заданном расстоянии от стены (\( d_{desired} \)).
На вход робота подаётся скорость \(v[t]\), с которой он должен двигаться. Выход из контроллера:
</p>
$$v[t]=k(d_{desired}-d[t]).$$
<p>
Выход из робота:
</p>
$$
d[t]=d[t-1]+V[t-1]\delta T,
$$
<p>где \(\delta T\) -
время между командами задания скорости. Реализуем эту систему на python:
</p>

<pre>
<code class="language-python">
import sm
k = 1.5
dDesired = 1.0
class WallContorller(sm.SM):
    def getNextState(self, state, inp):
        return sm.safeMul(k, sm.safeAdd(dDesired, sm.safeMul(-1, inp)))

deltaT = 0.1
class WallWorld(sm.SM):
    startState = 5
    def getNextValues(self, state, inp):
        return (sm.safeAdd(state, sm.safeMul(inp, deltaT)),
                state)

def coupledMachine(m1, m2):
    return sm.Feedback(sm.Cascade(m1, m2))

wallSim = coupledMachine(WallContorller(), WallWorld())
print(wallSim.run(30))
</code>
</pre>
<p>
Симуляция даёт:
<br>
<code>
[5, 4.4, 3.89, 3.4565, 3.088025, 2.77482125, 2.5085980625, 2.282308353125, 2.08996210015625, 1.9264677851328122, 1.7874976173628905, 1.669372974758457, 1.5689670285446884, 1.483621974262985, 1.4110786781235374, 1.3494168764050067, 1.2970043449442556, 1.2524536932026173, 1.2145856392222247, 1.182397793338891, 1.1550381243380574, 1.131782405687349, 1.1120150448342465, 1.0952127881091096, 1.0809308698927431, 1.0687912394088317, 1.058472553497507, 1.049701670472881, 1.0422464199019488, 1.0359094569166565]
</code>
<p>Мы видим, что расстояние до стены монотонно сходится к \(dDesired = 1\).
</p>


<h2>Switch</h2>
<p>
Рассмотрим условный комбинатор, он запускает
две машины параллельно, но на каждом вводе
определяет, какая из машин получит ввод,
вывод из неё будет выводом комбинированной машины.
</p>
<pre>
<code class="language-python">
class Switch(SM):
    def __init__(self, condition, m1, m2, name = None):
        self.m1 = m1
        self.m2 = m2
        self.condition = condition
        self.name = name
        self.startState = (self.m1.startState, self.m2.startState)

    def getNextValues(self, state, inp):
        (s1, s2) = state
        if self.condition(inp):
            (ns1, o) = self.m1.getNextValues(s1, inp)
            return ((ns1, s2), o)
        else:
            (ns2, o) = self.m2.getNextValues(s2, inp)
            return ((s1, ns2), o)

</code>
</pre>

<h2>Multiplex</h2>
<p>Этот комбинатор будет от switch отличаться тем,
что на каждом шаге изменяет состояние обоих машин,
условие будет определять вывод из какой из двух
машин будет отправляться на выход комбинированной машины.
</p>
<pre>
<code class="language-python">
class Mux(Switch):
    def getNextValues(self, state, inp):
        (s1, s2) = state
        (ns1, o1) = self.m1.getNextValues(s1, inp)
        (ns2, o2) = self.m2.getNextValues(s2, inp)
        if self.condition(inp):
            return ((ns1, ns2), o1)
        else:
            return ((ns1, ns2), o2)
</code>
</pre>

<h2>Завершающийся конечный автомат</h2>
<p>Иногда удобно рассматривать процесс, как 
последовательность процессов, один выполняется
пока не закончится, затем другой стартует.
Например, робот сначала чистит комнату А, затем
чистит комнату Б.
</p>
<p>Соединение автоматов во времени, образует новый 
автомат. Наши составляющие машины будут иметь 
дополнительное свойство: они будут иметь done функцию,
которая берет состояние и возвращает True, если
автомат завершил выполнение и False в противном случае.
Мы добавим в базовый класс SM определение 
метода по умолчанию, для машин не имеющих окончания.</p>
<pre>
<code class="language-python">
def done(self, state):
	return False
	</code>
</pre>
<p>Тогда, в определении любого подкласса SM,
вы можете реализовать свой метод done.
done метод используется комбинатором,
который, например, выполняет одно машину, пока она
не завершит работу, и затем стартует другую.
</p>
<p>Например, рассмотрим завершающийся автомат (TSM),
который принимает поток чисел; его вывод None в 
первых шагах, на пятом вводе он генерирует сумму
полученных чисел и заканчивает выполнение.
Его состояние состоит из двух чисел:
первое это число шагов выполненных машиной, второе
это аккумулированное число вводов.</p>
<pre>
<code class="language-python">
class ConsumeFiveValues(sm.SM):
    def __init__(self, name = None):
        self.name = name

    startState = (0, 0)

    def getNextValues(self, state, inp):
        (count, total) = state
        if count == 4:
            return ((count + 1, total + inp), total + inp)
        else:
            return ((count + 1, total + inp), None)

    def done(self, state):
        (count, total) = state
        return count == 5
</code>
</pre>
<p>Здесь результат выполнения этого примера.
Мы изменили метод transduce в SM, чтобы 
остановить когда машина закончит.</p>
<pre>
<code>
>>>c5=ConsumveFiveValues()
>>>c5.transduce([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
[None, None, None, None, 15]
</code>
</pre>

<h2>Повторение</h2>
<p>Repeat TSM комбинатор, который берет заканчивающийся 
автомат и повторяет его n раз. В примере ниже 
мы задаём значение None для n, так что если 
значение n не задано, процесс будут повторяться бесконечно.
</p>
<pre>
<code class="language-python">
class Repeat(SM):
    """
    Дан автомат, создает новый автомат,
    который будет выполнять его n раз. Если n
    не заданно, то будет выполнять вечно.
    """
    def __init__(self, m, n = None, name = None):
        self.m = m
        self.startState = (0, self.m.startState)
        self.n = n
        self.name = name

    def advanceIfDone(self, counter, mState):
        while self.m.done(mState) and not self.done((counter, mState)):
            counter += 1
            mState = self.m.startState
        return (counter, mState)

    def getNextValues(self, state, inp):
        (counter, mState) = state
        (mState, o) = self.m.getNextValues(mState, inp)
        (counter, mState) = self.advanceIfDone(counter, mState)
        return ((counter, mState), o)

    def done(self, state):
        (counter, mState) = state
        return not self.n == None and counter == self.n
</code>
</pre>
<p>Состоянием автомата будет число раз образующая
машина была выполнена, вместе с текущем состоянием
образующей машины.</p>
<p>Если образующий автомат завершил работу,
тогда мы увеличиваем счётчик числа повторений, и 
стартуем образующий автомат с начала.
</p>
<p>Рассмотрим пример Repeat. Образующая машина
инициализируется символом. Её состояние указывает
закончила ли она выполнение. Она стартует в состоянии
False (не закончила). На первом шаге она переходит
в состояние True и остаётся в нём. Её вывод всегда
символ с которым она инициализировалась, полностью
игнорируется ввод.
</p>
<pre>
<code class="language-python">
class CharTSM(sm.SM):
    startState = False
    def __init__(self, c, name = None):
        self.c = c
        self.name = name

    def getNextValues(self, state, inp):
        return (True, self.c)

    def done(self, state):
        return state
</code>
</pre>
<pre>
<code>
>>> a = CharTSM('a')
>>> a.run()
['a']
</code>
</pre>
<p>Автомат заканчивает работу после первого шага.
Теперь мы повторим его 4 раза.</p>
<pre>
<code>
>>> a4 = sm.Repeat(a, 4)
>>> a4.run()
['a', 'a', 'a', 'a']
</code>
</pre>

<h2>Последовательность</h2>
<p>
Удобно создать машину, которая выполняет
несколько машин последовательно.
Она берет список машин, выполняет первую
пока она не завершится, стартует следующую и так далее.
Её состояние это пара: число, указывающее какая из
образующих машин выполняется и состояние текущей машины.
</p>
<pre>
<code class="language-python">
class Sequence(SM):
    def __init__(self, smList, name = None):
        self.smList = smList
        self.name = name
        self.startState = (0, self.smList[0].startState)
        self.n = len(smList)

    def advanceIfDone(self, counter, smState):
        while self.smList[counter].done(smState) and counter + 1 < self.n:
            counter = counter + 1 
            smState = self.smList[counter].startState
        return (counter, smState)

    def getNextValues(self, state, inp):
        (counter, smState) = state
        (smState, o) = self.smList[counter].getNextValues(smState, inp)
        (counter, smState) = self.advanceIfDone(counter, smState)
        return ((counter, smState), o)

    def done(self, state):
        (counter, smState) = state
        return self.smList[counter].done(smState)


</code>
</pre>
<p>
Используем CharTSM для тестирования последовательного
комбинатора. 
</p>
<pre>
<code>
>>> m = sm.Sequence([CharTSM('a'), CharTSM('b'), CharTSM('c')])
>>> m.run()
['a', 'b', 'c']
</code>
</pre>

<h3>RepeatUntil</h3>
<p>Этот комбинатор в момент инициализации берет
условие и машину, он выполняет её завершения затем
проверяет условие на ввод; если условие выполнилось,
то завершает, иначе запускает образующую машину с начала.
</p>
<pre>
<code class="language-python">
class RepeatUntil(SM):
    def __init__(self, condition, sm):
        self.sm = sm
        self.condition = condition
        self.startState = (False, self.sm.startState)

    def getNextValues(self, state, inp):
        (condTrue, smState) = state
        (smState, o) = self.sm.getNextValues(smState, inp)
        condTrue = self.condition(inp)
        if self.sm.done(smState) and not condTrue:
            smState = self.sm.startState
        return ((condTrue, smState), o)

    def done(self, state):
        (condTrue, smState) = state
        return self.sm.done(smState) and condTrue
</code>
</pre>

<p>RepeatUntil проверяет условие, когда образующая машина завершила работу.
Иногда мы хотим завершить выполнение образующей машины когда условие
стало выполняться на любом шаге. Для этого мы зададим комбинатор Until.
Комбинатор инициализируется условием и образующий автомат.
Он выполняет образующий автомат и завершает работу если выполнится условие
или завершится работа образующего автомата.
</p>
<pre>
<code class="language-python">
class Until(SM):
    """
    Выполняет автомат пока условие не станет Истиной.
    Условие вычисляется на вход.
    """

    def __init__(self, condition, sm, name = None):
        self.sm = sm
        self.condition = condition
        self.name = name
        self.startState = (False, self.sm.startState)

    def getNextValues(self, state, inp):
        (condTrue, smState) = state
        (smState, o) = self.sm.getNextValues(smState, inp)
        return ((self.condition(inp), smState), o)

    def done(self, state):
        (condTrue, smState) = state
        return self.sm.done(smState) or condTrue


</code>
</pre>
<p>Приведём примеры применения этих комбинаторов.</p>
<pre>
<code>
def greaterThan10(x):
	return x > 10
>>> m = sm.RepeatUntil(greateThan10, cosumeFiveValues())
>>> m.transduce(range(20))
[None, None, None, None, 10, None, None, None, None, 35, None, None, None, None, 60]
</code>
</pre>
<p>Применим комбинатор Until на ConsumeFiveValues.</p>
<pre>
<code>
>>> m = sm.Until(greterThan10, ConsumeFiveValues())
>>> m.transduce(range(20))
[None, None, None, None, 10]
</code>
</pre>
<p>Условие может выполниться до завершения работы образующего автомата.</p>
<pre>
<code>
>>> m = sm.Until(lambda x: x == 2, ConsumeFive())
>>> m.transduce(range(20))
[None, None, None]
</code>
</pre>

<p>Зададим повторение ConsumeFiveValues(), пока не выполнится условие,
используем для этого Until и Repeat.</p>
<pre>
<code>
>>> m = sm.Until(greateThan10, sm.Repeat(ConsumeFiveValues()))
>>> m.trasduce(range(20))
[None, None, None, None, 10, None, None, None, None, 35, None, None]
</code>
</pre>
{% endblock %}
