{% extends "layout.html" %}
{% block title %}
Сигналы и системы
{% endblock %}


{% block body %}
<h1>Сигналы и системы. Задания.</h1>
<ul>

	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfHslqRIKESxkihe7hhTywaZ0jBVychCN_6yVrll6GWKW07ew/viewform?usp=sf_link">Нахождение системы</a></li>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSevHc-oqRePLMXQ_8sXvtAzIlkxMKal5eIYFs6PO9np-s2jVg/viewform?usp=sf_link">Представления</a></li>
	<li><a href="/psets/signalDefinitions.html">Задание сигналов</a></li>
</ul>

{% endblock %}
