{% extends "layout.html" %}
{% block title %}
Завершающиеся автоматов
{% endblock %}


{% block body %}
<h1>Завершающиеся автоматы. Задания.</h1>
<ul>
	<li><a href="/psets/sumTSM.html">SumTSM</a></li>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfHslqRIKESxkihe7hhTywaZ0jBVychCN_6yVrll6GWKW07ew/viewform?usp=sf_link">Нахождение системы</a></li>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSevHc-oqRePLMXQ_8sXvtAzIlkxMKal5eIYFs6PO9np-s2jVg/viewform?usp=sf_link">Представления</a></li>
</ul>

{% endblock %}
