{% extends "layout.html" %}
{% block title %}
Python
{% endblock %}


{% block body %}
<header>

<h1>Python</h1>
</header>


<br>

<ul>
					<li><a href="functions.html">Переменные и функции</a></li>
					<li><a href="conditionals.html">Ветвления</a></li>
					<li><a href="loops.html">Циклы</a></li>
					<li><a href="exceptions.html">Исключения</a></li>

					<li><a href="libraries.html">Библиотеки</a></li>

					<li><a href="classes.html">Объектно-ориентированное программирование</a></li>
	
</ul>
{% endblock %}
