{% extends "layout.html" %}
{% block title %}
Автоматы
{% endblock %}


{% block body %}
<header>

<h1>Автоматы</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
		<iframe src="https://dzen.ru/embed/vQv3hlVBnKGs?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-u4tAp8dcJ="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		<!--
<iframe  src="https://www.youtube.com/embed/mQthpQq1DUo?si=s4Y7fjqy_j7vagdD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		-->
	</div>
	</li>
	<li><a href ="notes_state_machine.html">Заметки</a></li> 
	<li><a href="pset_state_machine.html" target="_blank">Задания</a></li>
	<li><a href="/modeling/data/sm.zip">Исходный код</li>
	<li><a href="/modeling/data/slides/state_machine.pdf">Слайды с mit</a></li>
</ul>
{% endblock %}
