{% extends "layout.html" %}
{% block title %}
Системные функции
{% endblock %}


{% block body %}
<header>

<h1>Обратная связь, полюса и моды.</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/v3pf_QC1Z1wM?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-v43d5y4uK="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
<!--
<iframe  src="https://www.youtube.com/embed/jNF7hFurV_g?si=mqA2KFDgaFPxu0Xx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
-->
	</div>
	</li>
	<li><a href ="notes_systemFunctions.html">Заметки</a></li> 
	<li><a href="/modeling/data/lec05.pdf">Слайды с mit</a></li>
	<li><a href="pset_systemFunctions.html" target="_blank">Задания</a></li>
</ul>
{% endblock %}
