{% extends "layout.html" %}
{% block title %}
Z - преобразования
{% endblock %}


{% block body %}
<header>

<h1>Z-преобразования</h1>
</header>

<ul>
	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/Cyvr20VLKjA?si=Uw1UKraZmrghBa0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	<li>
		<a href="/modeling/data/slides/5_z_transform.pdf">Слайды с mit</a>
	</li>

	</li>
	<li><a href ="notes_z_transform.html">Заметки</a></li> 
	<li><a href="/psets/z_transforms.html">Задания</a></li>
	<li><a href="https://ocw.mit.edu/courses/6-003-signals-and-systems-fall-2011/resources/lecture-5-z-transform/">Материал взят с mit 6.003</a></li>
</ul>
{% endblock %}
