{% extends "layout.html" %}
{% block title %}
	5.1.3	
{% endblock %}
{% block body %}
<h2>Каскад системных функций</h2>
<p>Добавьте процедуру Cascade в файл sfSkeleton.py, 
как описано в раздаточном материале лабораторной работы 
по программному обеспечению.
Отладьте его с помощью swLab05Work.py и вставьте сюда, когда он заработает.
<br>

<div class="form-floating">
  <textarea class="form-control"  id="floatingTextarea" 
	  style="height:500pt">
def Cascade(sf1, sf2):
	pass
  </textarea>
  <label for="floatingTextarea">Ваш код</label>
</div>
{% endblock %}


