{% extends "layout.html" %}
{% block title %}
	5.1.2	
{% endblock %}
{% block body %}

<h2>Каскад систем</h2>
<p>Пусть H<sub>1</sub> это система с входом x и выходом w, 
определяемая следующим образом:
$$
w[n]-w[n-1]=x[n]-2x[n-1]
$$
и пусть H<sub>2</sub> — система с входом w и выходом y, 
определяемая следующим образом:
$$
y[n]-y[n-1]=w[n]+w[n-2]
$$
Предположим, мы формируем каскад H<sub>1</sub> и H<sub>2</sub>, чтобы получить 
систему, входом которой является x, а выходом — y.
</p>

<p>Ниже необходимо указать несколько системных функций.
Сделайте это, записав коэффициенты полиномов в R для числителя и 
знаменателя системных функций.
Введите коэффициенты в том порядке, в котором они будут предоставлены 
для построения полинома (сначала наибольшая степень).
Два полинома для системной функции проверяются вместе, поскольку 
именно их соотношение имеет смысл.
</p>
<p>Чтобы указать системную функцию, введите последовательность 
коэффициентов для полинома числителя, за которой следует косая 
черта (/) и ещё одна последовательность коэффициентов для знаменателя.
Не вводите запятых, просто цифры, разделённые пробелами и одинарной 
косой чертой.
Числа должны быть целыми числами или с плавающей запятой.
Вот пример ответа:
<pre>
1 -2 0.3 / 3 0.1
</pre>
он представляет 
$$
\frac{R^2-2R+0.3}{3R+0.1}
$$

<p>Обратите внимание, что первый коэффициент полинома 
(самой высокой степени) никогда не должен быть равен нулю.
</p>
<ol>
	<li>
		Запишите системную функцию для H<sub>1</sub>
		<br>
		Числитель/Знаменатель:<input >
	</li>
	<li>
		Запишите системную функцию для H<sub>2</sub>
		<br>
		Числитель/Знаменатель:<input >
	</li>
	<li> 
		Напишите системную функцию каскада H1 и H2.
		<br>
	</li>
		Числитель/Знаменатель:<input >


</ol>
{% endblock %}
