{% extends "layout.html" %}
{% block title %}
	5.1.1	
{% endblock %}
{% block body %}

<h2>Класс системной функции</h2>
<p>Реализуйте класс SystemFunction, 
как описано в раздаточном материале лабораторной 
работы по программному обеспечению, в файле sfSkeleton.py.
Он должен включать в себя следующие методы:
<ul>
	<li>
		__init__,
	</li>
	<li>
		poles,
	</li>
	<li>
		poleMagnitues,
	</li>
	<li>
		dominantPole
	</li>
</ul>
</p>
<p>
Запишите свое решение в файл sfSkeleton.py; 
Отладьте его с помощью swLab05Work.py.
Когда все заработает, вставьте сюда свой код. 
Не включайте никаких операторов импорта.
</p>
<div class="form-floating">
  <textarea class="form-control"  id="floatingTextarea" 
	  style="height:500pt">
  </textarea>
  <label for="floatingTextarea">Ваш код</label>
</div>


{% endblock %}
