{% extends "layout.html" %}
{% block title %}
	5.1.5	
{% endblock %}
{% block body %}
<h2>Код FeedbackSubtract</h2>
<p>
Добавьте процедуру FeedbackSubtract в свой sfSkeleton.py, 
как описано в раздаточном материале лабораторной работы 
по программному обеспечению.
Отладьте его с помощью swLab05Work.py и вставьте сюда.
</p>
<p>Убедитесь, что ваше выражение полностью упрощено.
Исключите все общие члены в числителе и знаменателе.
</p>
<p>Помните, что вы можете использовать операторы + и * 
для многочленов.
</p>
<p>Вам также может оказаться полезным обратиться 
к <a href="https://ocw.mit.edu/ans7870/6/6.01sc/documentation/sf.SystemFunction-class.html">документации по SystemFunction</a>.
Обратите внимание, что ваш код должен использовать 
SystemFunction(...) без префикса имени модуля.
</p>
<div class="form-floating">
  <textarea class="form-control"  id="floatingTextarea" 
	  style="height:500pt">
def FeedbackSubstract(sf1, sf2):
	pass
  </textarea>
  <label for="floatingTextarea">Ваш код</label>
</div>


{% endblock %}

