{% extends "layout.html" %}
{% block title %}
	Системные функции
{% endblock %}
{% block body %}
<h2>Функция системы поиска стен</h2>
<p>Используйте sf.R, sf.Gain, sf.Cascade, sf.FeedbackAdd и 
sf.FeedbackSubtract для создания системной функции 
робота-искателя стен.
</p>

<p>
Эти процедуры описаны в модуле 
<a href="https://ocw.mit.edu/ans7870/6/6.01sc/documentation/sf-module.html">sf</a> 
документации по программному обеспечению.
</p>
<p>Определите процедуру python под названием controllerSF, 
которая принимает один аргумент:
</p>
<ul>
	<li>
		пропорциональный коэффициент k, применяемый к ошибке.
	</li>
</ul>
<p>и которая возвращает системную функцию системы, входными данными которой является ошибка расстояния, а выходными данными — заданная скорость.
</p>
<p>Определите процедуру Python под названием plantSF, 
которая принимает один аргумент:
</p>
<ul>
	<li>
		продолжительность временного шага T.
	</li>
</ul>
<p>и которая возвращает системную функцию для системы, 
входными данными которой является заданная «скорость», 
а выходными данными — фактическое расстояние до стены.
</p>

<p>Определите процедуру python под названием sensorSF, 
которая не принимает аргументов и возвращает системную 
функцию для системы, входные данные которой — фактическое 
значение датчика, а выходные данные — показания датчика 
с задержкой на один шаг.
</p>
<p>Определите процедуру python под названием 
wallFinderSystemSF, которая принимает два аргумента:
<ul>
	<li>
		шаг времени T.
	</li>
	<li> 
		коэффициент пропорциональности k, применяемый к ошибке
	</li>
</ul>
<p>и которая возвращает системную функцию для системы, 
входными данными которой является желаемое расстояние, 
а выходными данными — фактическое расстояние до стены.
</p>
<p>Вы можете отладить их, поместив свои определения 
в файл и включив import lib601.sf as sf вначале файла.
</p>
<p>Вы можете проверить, получили ли вы правильный ответ, 
сравнив полученную системную функцию с разностными уравнениями 
для различных систем, которые вы получили в задачах 
предыдущей лабораторной работы по проектированию.
Для сравнения вам нужно будет преобразовать разностные 
уравнения в системные функции (или наоборот) — 
будьте внимательны к  порядкам коэффициентов и знаков минус...
</p>
<div class="form-floating">
  <textarea class="form-control"  id="floatingTextarea" 
	  style="height:500pt">
def controllerSF(k):
	pass

def plantSF(T):
	pass

def sensorSF():
	pass

def wallFinderSystemSF(T, k):
	pass

  </textarea>
  <label for="floatingTextarea">Ваш код</label>
</div>


{% endblock %}

