{% extends "layout.html" %}
{% block title %}
	5.3.2	
{% endblock %}
{% block body %}
<h2>Системная функция следующего за стеной</h2>
<p>Введите системную функцию пропорционального следящего за стеной 
устройства 
$$
H=\frac{D_o}{D_i},
$$
введя полиномы от R числителя и знаменателя.
Введите полиномы в виде выражений так же, 
как вы вводите их в Python 
(хотя удаление *, как в обычной алгебраической записи, 
также должно работать). Вы можете использовать следующие символы:
<pre>
<code>
R, T, V, k
</code>
</pre>
(эти переменные чувствительны к регистру)
<br>
Пример полинома R, введенного в этом формате:
<pre>
<code>
 k*T*(R**2) - V*(T**2)*R + 1
</code>
</pre>
</p>
<ul>
	<li>
		Прежде чем проверить любой из них, вам 
		необходимо ввести и числитель, и знаменатель.  
		Их будут проверять вместе.  
		Проверка будет заключаться в правильности 
		соотношения, а не в правильности отдельных частей.  
	</li>
	<li>
		Во избежание двусмысленности широко используйте круглые скобки.
	</li>
</ul>
Числитель <input>
<br>
Знаменатель <input>

{% endblock %}


