{% extends "layout.html" %}
{% block title %}
	Построение сигналов 
{% endblock %}
{% block body %}
<h2>
	Построение сигналов 
</h2>

<p>
Задайте функцию polyR(s, p), которая берёт s, экземпляр
подкласса Signal,  и p, экземпляр класса Polynomial; 
возвращает новый сигнал, преобразованный полиномом от R сигнал s. 
Так, например, если p экземпляр класса Polynomial с
p.coeffs = [3, 2, 10], то результат polyR(s, p) сигнал
$$
3RRs+2Rs+10s
$$
В вашей реализации вы можете использовать любой реализованный
вами <a href="https://cs204.github.io/psets/signalDefinitions.html">ранее</a> конструктор сигналов, включая Rn. 
</p>
<p>
Класс Polynomial задан в файле <a href="/psets/data/poly.py">poly.py</a>.
</p>
<p>
Задайте сигналы, используя конструкторы сигналов, определённые 
в предыдущем задании.
</p>
<ul>
	<li>
		step1: сигнал равен 3.0 для \(t \ge 3\) 
		и 0 для других \(t\).
	</li>
	<li>
		step2: сигнал равен -3.0 для \(t \ge 7\) и 0 для 
		других \(t\).
	</li>
	<li>
		stepUpDown: сигнал равен 3.0 для \( 3 \le t \le 6 \)
		и 0 для других \(t\).
	</li>
	<li>
		stepUpDownPoly: используйте polyR, чтобы построить 
		сигнал, который имеет значение 1.0 в \( t=1 \),
		значение 3 в \(t=3\), значение 5.0 в момент 5 
		и ноль в других \(t\).
	</li>
</ul>
<h2>Шаги выполнения</h2>
<ul>
	<li>Скачайте архив:
		<pre>
		<code>
		wget https://cs204.github.io/psets/data/constructSignals.zip
		</code>
		</pre>
	</li>
	<li>Распакуйте:
		<pre>
		<code>
		unzip constructSignals.zip
		</code>
		</pre>
	</li>
	<li>
		Перейдите в каталог:
		<pre>
		<code>
		cd constructSignals
		</code>
		</pre>
	</li>
	<li>
	Файл signalDefinitions.py подобен  созданному вами в <a href="https://cs204.github.io/psets/signalDefinitions.html">задании</a>.
	</li>
	<li>

		Откройте файл constructSignals.py.
		<pre>
		<code>
		code constructSignals.py
		</code>
		</pre>
		Введите в него ваш код.
	</li>
</ul>

<h2>Проверка</h2>
<p>
Вы можете проверить правильность выполнения задания, выполнив команду

<pre>
<code>npx cs204 2023/constructSignals local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/constructSignals</code>
</pre>
</p>

<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/constructSignals/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>
{% endblock %}
