{% extends "layout.html" %}
{% block title %}
	Django ORM 2
{% endblock %}


{% block body %}
<h1>Django ORM 2</h1>
<p>Материл взят из параграфа 4.6.2, книги Christopher Trudeau - Django in action.</p> 
<ul>
	<li>
		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUb4-3QIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-iBHhqtK53="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>

	<li>
		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUYE_HQIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-iBHhqtK53="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>
</ul>

<h2>Как отправить на проверку</h2>

<ol>


	<li>В <a href="http://90.188.117.161:8080/character/pset/2025/DjangoORM2/v">форме</a> укажите адрес страницы  на render.</li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

</ol>





{% endblock body %}


