{% extends "layout.html" %}
{% block title %}
	Django ORM relationships
{% endblock %}


{% block body %}
<h1>Django ORM отношения</h1>

<ul>
	<li> Отношение один ко многим.
		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUaH7HkIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-m3KoOJjYa="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>

	<li> Многие ко многим.

		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUai7HkIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-m3KoOJjYa="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>

</ul>

<p>
Используя страницы с списком музыкантов и деталей о них, как образец, чтобы создать аналогичные страницы для групп.
Внутри шаблона используйте связь musicians, чтобы показать участников группы.

</p>


<h2>Как отправить на проверку</h2>

<ol>


	<li>В <a href="http://90.188.117.161:8080/character/pset/2025/DjangoORM_relationships/v">форме</a> укажите адрес страницы на render.</li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

</ol>


{% endblock body %}


