{% extends "layout.html" %}
{% block title %}
	Django ORM relationships
{% endblock %}


{% block body %}
<h1>Django ORM отношения</h1>

<ul>
	<li> Отношение один ко многим.
		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUaH7HkIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-m3KoOJjYa="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>

	<li> Многие ко многим.

		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUai7HkIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-m3KoOJjYa="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
	</li>

</ul>




{% endblock body %}


