{% extends "layout.html" %}
{% block title %}
	Django template
{% endblock %}


{% block body %}
<h1>Django Template language</h1>

	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/oaUYZimoIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-foe03BQvf="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
	</div>

<h2>Как отправить на проверку</h2>

<ol>
	<li>В <a href="http://90.188.117.161:8080/character/pset/2025/DjangoTL/v">форме</a> укажите адрес страницы news на render.com.</li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

</ol>




{% endblock body %}


