{% extends "layout.html" %}
{% block title %}
Задаине. Git.
{% endblock %}


{% block body %}
<header>
	<h1>Задание</h1> 
</header> 
<p>
Создать веб сайт, используя html и css. 
Сайт должен содержать не менее четырёх страниц, 
связанных гиперссылками. 
Сайт должен быть о том, что для вас интересно, 
основная часть его оценки зависит от содержание.
Это должно быть что-то, рассказанное вами, а не
скопированный текст.
</p>

<p>
Перенесите ваш  сайт на github.
</p>

<h2>Как отправить на проверку</h2>

<ol>
	<li>В <a href="http://90.188.117.161:8080/character/pset/2021/github/v">форме</a> укажите адрес сайта на github.</li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

</ol>


{% endblock %}
