{% extends "layout.html" %}
{% block title %}
	 LTSI  
{% endblock %}
{% block body %}

<h2>Задачи: LTISM</h2>
<p>Мы увидели, как создавать сложные автоматы из примитивов, и показали, что можем их запускать. Единственная проблема с таким способом работы заключается в том, что у нас никогда не бывает явного представления всей системы в виде разностного уравнения. Позже мы автоматически вычислим разностные уравнения для систем, созданных с помощью комбинаторов; сейчас мы будем создавать автоматы непосредственно из коэффициентов разностного уравнения.
</p>
<p>Для каждой из этих систем, чтобы она была правильно  заданным автоматом, 
мы должны задать начальное состояние, оно может быть
охарактеризовано как k значений предыдущих выводов и j
предыдущих вводов. Напомним вид разностного уравнения:
$$
y[n]=c_0y[n-1]+c_1y[n-2]+...+c_{k-1}y[n-k]+d_0x[n]+d_1x[n-1]+...+d_jx[n-j]
$$
</p>
<p>
Мы имеем заданный класс автоматов LTISM, его можно использовать
чтобы реализовать любой автомат такого типа.  Инициализатор имеет вид:
<pre>
<code>
LTISM(dCoeffs, cCoeffs, previousInputs, previousOutputs)
</code>
</pre>
где
<ul>
	<li>dCoeffs - список коэффициентов от \(d_0\) до \(d_j\),  в таком же порядке.</li>
	<li>cCoeffs - список коэффициентов от \(c_0\) до \(c_{k-1}\), в таком же порядке.</li>
	<li>previousInputs - список от \(x[-1]\) до \(x[-j]\), в таком же порядке.
	</li>
	<li>previousOutputs - список \(y[-1]\) до \(y[-k]\), в таком же порядке.</li>
</ul>
</p>
<p>Здесь Python выражения, которые создают экземпляры LTISM:
<ul>
	<li>Вывод в момент n равен 3 умножить на ввод в момент n:
		<pre>
		<code class="language-python">
		# y[n] = 3 x[n]
		LTISM([3], [])
		</code>
		</pre>
	</li>
	<li>
		Вывод в момент n есть ввод в n-1 (наш старый друг, 
		автомат задержки):
		<pre>
		<code class="language-python">
		# y[n] = x[n-1]
		LTISM([0, 1], [], [0], [])
		</code>
		</pre>
		Здесь мы задали, что \(x[-1]=0\).
	</li>
	<li>
		Вывод в момент n есть 2 умножить на ввод в n-2:
		<pre>
		<code class="language-python">
		# y[n] = 2 * x[n-2]
		LTISM([0, 0, 2], [], [4, 10], [])
		</code>
		</pre>
		Здесь мы задали x[-1]=4, x[-2] = 10.
	</li>
	<li>
		Вывод в момент n равен 2 умножить на вывод в момент n-1:
		<pre>
		<code class="language-python">
		# y[n] = 2 y[n-1]
		LTISM([], [2], [], [1])
		</code>
		</pre>
		Здесь мы задали \(y[-1]=1\). (Что произойдёт, если мы сделаем его  равным 0?)
	</li>

	<li>Вывод в n равен вывод в момент n-1 плюс вывод в момент n-2:
		<pre>
		<code class="language-python">
		# y[n] = y[n-1] + y[n-2]
		LTISM([], [1, 1], [], [1, 1])
		</code>
		</pre>
		Здесь мы задали y[-1]=1 и y[-2] = 1. Эта формула
		генерирует знакомую последовательность. Узнали её?
	</li>
</ul>
<p>Покажите, как создать следующие автоматы как экземпляр 
класса LTISM. Ниже вам нужно будет ввести элементы четырёх 
списков, необходимые для создания экземпляра:
<pre>
<code class="language-python">
LTISM(dCoeffs, cCoeffs, previousInputs, previousOutputs)
</code>
</pre>
</p>
<p>Если любой аргумент пуст, введите none, иначе
последовательность чисел разделённых пробелами (нет запятых, скобок).
</p>
<ol>
	<li>
	Машина вывод которой в момент n есть сумма вводов до момента n
	включительно. Предположим y[-1] = 10.
	<form>
		<label>dCoeffs(input):</label>
		<input>
		<br>
		<label>cCoeffs(output):</label>
		<input>
		<br>
		<label>previousInputs</label>
		<input>
		<br>
		<label>previousOutput</label>
		<input>
	</form>
	</li>
	<li>
		Автомат вывод которого в момент n равен сумме вводов до момента n-1 
		включительно. Предположим y[-1]=10 и x[-1]=0.
		<form>
		<label>dCoeffs(input):</label>
		<input>
		<br>
		<label>cCoeffs(output):</label>
		<input>
		<br>
		<label>previousInputs</label>
		<input>
		<br>
		<label>previousOutput</label>
		<input>
	</form>
	</li>
	<li>
		Автомат вывод которого в момент n равен сумме вводов
		до момента n-1, умноженных на 0.1. Предположим y[-1]=1 и
		x[-1]=0.
		<form>
		<label>dCoeffs(input):</label>
		<input>
		<br>
		<label>cCoeffs(output):</label>
		<input>
		<br>
		<label>previousInputs</label>
		<input>
		<br>
		<label>previousOutput</label>
		<input>
		</form>
	</li>
</ol>


{% endblock %}

