{% extends "layout.html" %}
{% block title %}
Matrix. Задание. 
{% endblock %}


{% block body %}
<header> 
	<h1>Matrix.</h1> 
</header> 

		<div class="embed-responsive embed-responsive-4by3">
<iframe width="480" height="270" src="https://dzen.ru/embed/oaUaquoIIAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-bQe3al1l9="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
<p>
 Используйте 24.6 из Programming principles and practice using C++ (2014).
  Используя  
  <code>
  <pre>
Vector classical_gaussian_elimination(Matrix A, Vector b)
  </pre>
  </code>
  для решения системы 
</p> 
<br>
  1x+4y+3z=17, 
  3x+2y+1z=13, 
  4x+2y+3z=17;

 <h2>Шаги выполнения</h2>
<ul>
	<li>
		Зайдите на <a href="https://cs50.dev">https://cs50.dev</a>.
	</li>
	<li>
		Загрузите дистрибутив.
		<pre>
		<code> 
		wget https://cs204.github.io/psets/data/matrix.zip
		</code>
		</pre>
	</li>
	<li>
		Распакуйте.
		<pre>
		<code>
		unzip matrix.zip
		</code>
		</pre>
	</li>
	<li>
		Сделайте папку matrix рабочей.
		<pre>
		<code>
		cd matrix
		</code>
		</pre>
	</li>
	<li>
		Завершите определение функции.	
	</li>
</ul> 

<h2>Как проверить</h2>
<p>Сделайте рабочим каталог с программой.
</p>

Вы можете проверить правильность выполнения задания, выполнив команду
<pre>
<code>npx cs204 cpp/matrix local</code>
</pre>

Для отправки на проверку выполните команду
<pre>
<code>npx cs204 cpp/matrix</code>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/cpp/matrix/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>
 
{% endblock body %}

