{% extends "layout.html" %}
{% block title %}
Масса на пружинке
{% endblock %}
{% block body %}
<h1>
Масса на пружинке
</h1>
<p>На следующем рисунке показана система - масса на пружинке.
Входные данные x(t) представляют положение верхнего конца пружины.
Выходные данные y(t) представляют положение массы.
</p>

<figure class="figure">
	<img src="data/images/spring.png" class="figure-img img-fluid">
</figure>
<p>
Масса M = 1 кг, жёсткость пружины K = 1 Н/м.
Предположим, что пружина подчиняется закону Гука и что исходное 
положения определено так, что если входной сигнал x(t) равен нулю, 
то положение покоя y(t) также равно нулю.
</p>
<ol>
	<li>Определите дифференциальное уравнение, связывающее входной сигнал x(t) и выходной сигнал y(t).  
		<details> 
			<summary>Подсказка</summary> 
			<p>Закон Ньютона гласит, что сила, действующая на массу, 
			равна произведению её массы на ускорение,	
			$$
			F=M\frac{d^2y(t)}{dt^2}.
			$$
			Закон Гука гласит, что сила, действующая на пружину, 
			пропорциональна её удлинению:
			$$
			F=K(x(t)-y(t)).
			$$
			Соединяя,
			$$
			M\frac{d^2y(t)}{dt^2}+Ky(t)=Kx(t)
			$$
			Так как M=K=1,
			$$
			\frac{d^2y(t)}{dt^2}+y(t)=x(t)
			$$
			</p>
		</details>

	</li>
	<li>
		Вычислите отклик на вход ступенька.
		<details> 
			<summary>Подсказка</summary> 
			<p>
			Общее решение уравнения
			$$
			\frac{d^2y(t)}{dt^2}+y(t)=0
			$$
			имеет вид
			$$
			y_g=Ae^{jt}+Be^{-jt}
			$$
			Частное решение для уравнения
			$$
			\frac{d^2y(t)}{dt^2}+y(t)=x(t)
			$$
			имеет вид
			$$
			y_p(t)=1
			$$
			Получаем, что общее решение для уравения
			имеет вид
			$$
			s(t)=Ae^{jt}+Be^{-jt}+1; \; t>0
			$$
			Отклик на ступеньку, когда система изначально находится 
			в состоянии покоя.  
			Покой  означает, что s(t) = 0 при t < 0.  
			Если s(t) равно нулю при t < 0, то и ее производная 
			по времени равна нулю в начальный момент, 
			поскольку сила пружины конечна.  Таким образом
			$$
			\begin{split}
			s(0)&=A+B +1\\
			\dot{s}(0)&=A-B=0\\
			A&=B=-0.5\\
			\end{split}
			 $$
			Резульат
			$$
			s(t)=(1-0.5e^{jt}-0.5e^{-jt})u(t)=(1-cos(t))u(t).
			 $$
			</p>
		</details>
	</li>

	<li>
		Используйте приближение Эйлера для численной аппроксимации решения, 
		для отклика на ступеньку.

		<details> 
			<summary>Подсказка</summary> 
			<p>Начнём с уравнения 

			$$
			\frac{d^2y(t)}{dt^2}+y(t)=x(t)
			$$
			Обозначим
			$$
			z(t)=\frac{dy(t)}{dt}
			$$
			получаем
			$$
			\frac{dz}{dt}+y(t)=x(t).  
			$$
			Сделаем подстановку Эйлера вперед
			$$
			\frac{z[n+1]-z[n]}{T}+y[n]=x[n]
			$$
			Представим что z обозначает аппроксимацию 
			производной назад от y
			$$
			z[n]=\frac{y[n] - y[n-1]}{T}
			$$
			Подставляя получаем:
			$$
			\begin{split}
			&\frac{y[n+1]-y[n]}{T}-\frac{y[n]-y[n-1]}{T}+Ty[n]=Tx[n]\\
			&y[n+1]-(2-T^2)y[n]+y[n-1]=T^2x[n]\\
			\end{split}
			$$
			</p>
		</details>
	</li>

</ol>
{% endblock %}
