{% extends "layout.html" %}
{% block title %}
	Функциональный автомат	
{% endblock %}

{% block body %}
<h1>Функциональный автомат</h1>
<p>Создайте класс PureFucntion, который применяет данную функцию к вводу,
и возвращает результат на выход. Состояние этого автомата не имеет значения.

</p>
<pre>
<code class="language-python">
class PureFunciton(sm.SM):
	def __init__(self, f): 
		pass
	
	def getNextValues(self, state, inp):
		pass
</code>
</pre>

<h2>Шаги выполнения</h2>
Зайдите на <a href="https://cs50.dev">cs50.dev</a>. 
Сделайте рабочим каталогом вашу Codespace.
Создайте каталог pureFunction,  выполнив
<pre>
<code>mkdir pureFunction</code>
</pre>
Перейдите в каталог.
<pre>
<code>cd pureFunction</code>
</pre>
Закачайте файлы sm.py, pureFunction.py выполнив
<pre>
<code>
wget https://cs204.github.io/psets/data/sm.py 
wget https://cs204.github.io/psets/data/pureFunction.py 
</code>
</pre>
Откройте файл pureFucntion.py, выполнив
<pre>
<code>
code pureFunction.py
</code>
</pre>
Дополните файл.


Вы можете проверить правильность выполнения задания, выполнив команду
<pre>
<code>npx cs204 2023/pureFunction local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/pureFunction</code>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/pureFunction/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>

{% endblock %}


