{% extends "layout.html" %}
{% block title %}
	Задание сигнала 
{% endblock %}
{% block body %}
<h1>Задание сигнала</h1>
<p>Закачайте <a href="/psets/data/swLab04SignalDefinitions.py">файл</a>:</p>
<pre>
<code>
wget https://vadimgb.github.io/psets/data/swLab04SignalDefinitions.py
</code>
</pre>
<p>Реализуйте свою версию сигналов.</p>
<ul>
	<li>StepSignal(): имеет значение 0 для аргумента меньшего 0 иначе 1.
	</li>
	<li>
		SummedSignal(s1, s2): принимает два сигнала, s1 и s2, во время инициализации и создает новый сигнал, который представляет собой сумму этих сигналов. Обратите внимание, что этот класс должен быть ленивым: при создании сигнала не должно происходить никаких дополнений; значения необходимо добавлять только тогда, когда запрашивается образец суммированного сигнала.
	</li>
	<li>
		ScaledSignal(s,c): принимает сигнал s и константу c во 
		время инициализации и создает новый сигнал, значения 
		выборки которого представляют собой значения выборки 
		исходного сигнала, умноженные на c. 
	</li>
	<li>
		R(s): принимает сигнал s во время инициализации и создает
		новый сигнал, выборки которого задерживаются на один 
		временной шаг; то есть значение нового сигнала в момент 
		времени n должно быть значением старого сигнала в 
		момент времени n - 1.
	</li>
	<li>
		Rn(s, n):  принимает сигнал s во время инициализации и 
		создает новый сигнал, выборки которого задерживаются 
		на n шагов.
	</li>
</ul>
{% endblock %}
