{% extends "layout.html" %}
{% block title %}
	Задание сигнала 
{% endblock %}
{% block body %}
<h1>Задание сигнала</h1>
<p>Закачайте <a href="/psets/data/signalDefinitions.py">файл</a>:</p>
<pre>
<code>
wget https://vadimgb.github.io/psets/data/signalDefinitions.py
</code>
</pre>
<p>Реализуйте свою версию сигналов.</p>
<ul>
	<li>StepSignal(): имеет значение 0 для аргумента меньшего 0 иначе 1.
	</li>
	<li>
		SummedSignal(s1, s2): Принимает два сигнала, s1 и s2, во время инициализации и создаёт новый сигнал, 
		который представляет собой сумму этих сигналов.  
		Обратите внимание, что этот класс должен быть ленивым: 
		при создании сигнала не должно происходить никаких сложений; 
		сложение должно выполняться только когда вызывается sample SummedSignal.
	</li>
	<li>
		ScaledSignal(s,c): принимает сигнал s и константу c во 
		время инициализации и создает новый сигнал, значения 
		sample которого представляют собой значения sample 
		исходного сигнала, умноженные на c. 
	</li>
	<li>
		R(s): Принимает сигнал s во время инициализации и создаёт 
		новый сигнал, sample которого задерживаются на один 
		временной шаг; то есть значение нового сигнала в момент 
		времени n должно быть значением старого сигнала в 
		момент времени n - 1.
	</li>
	<li>
		Rn(s, n):  принимает сигнал s во время инициализации и 
		создаёт новый сигнал, sample которого задерживаются 
		на n шагов.
	</li>
</ul>
<p>Для проверки раскомментируйте строки в конце файла.</p>

<p>
Вы можете проверить правильность выполнения задания, выполнив команду

<pre>
<code>npx cs204 2023/signalDefinitions local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/signalDefinitions</code>
</pre>
</p>

<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/signalDefinitions/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>
{% endblock %}
