{% extends "layout.html" %}
{% block title %}
	Композиция автоматов 
{% endblock %}
{% block body %}
<h1>Композиция автоматов</h1>
<p>Используйте sm.R, sm.Gain, sm.Cascade, sm.FeedbackAdd and sm.FeedbackSubtract, чтобы
задать следующие автоматы. Это те системы, которые были в предыдущем задании.
</p>
<p>Задайте процедуру accumulator, она берёт один ввод:
<ul><li>вывод до первого ввода,  init</li></ul>
и возвращает автомат, вывод которого в момент n равен сумме вводов до момента n включительно.
Таким образом, выход в момент 0 представляет собой сумму init и ввода в момент 0.
</p>
<p>Задайте процедуру accumulatorDelay, которая берет один аргумент:
<ul><li>вывод в момент времени 0, init.</li></ul>
Возвращает автомат вывод из которого в момент n равен сумме вводов до момента n-1 включительно.
</p>
<p>Задайте процедуру accumulatorDelayScaled, которая берет два аргумента:
<ul>
	<li>константу умножения,</li>
	<li>вывод в момент 0, init,</li>
</ul>
возвращает автомат, вывод из которого в момент n равен сумме умноженных на константу вводов до момента n-1 включительно.
</p>

<h2>Шаги выполнения</h2>
<ul>
	<li>Скачайте архив:
		<pre>
		<code>
		wget https://vadimgb.github.io/psets/data/smComposition.zip 
		</code>
		</pre>
	</li>
	<li>Распакуйте, выполнив:
		<pre>
		<code>
		unzip smComposition.zip
		</code>
		</pre>
	</li>
	<li>Сделайте рабочим каталог smComposition:
		<pre>
		<code>
		cd smComposition
		</code>
		</pre>
	</li>
	<li>
		Откройте файл:
		<pre>
		<code>
		code smComposition.py
		</code>
		</pre>
	</li>
	<li>
		Задайте нужные функции.
	</li>
	<li>
		Раскомментируйте строки в функции test.
	</li>

</ul>
<h2>Проверка</h2>

Вы можете проверить правильность выполнения задания, выполнив команду:
<pre>
<code>npx cs204 2023/smComposition local</code>
</pre>
Для отправки на проверку выполните команду:
<pre>
<code>npx cs204 2023/smComposition</code>
</pre>


<h3>Заполните форму</h3>
<a href="http://90.188.117.161:8080/character/pset/2023/smComposition/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>



{% endblock %}

