{% extends "layout.html" %}
{% block title %}
	Системные функции
{% endblock %}
{% block body %}
<h1>Системные функции</h1>
<div class="alert alert-light">
Цели: Изучение свойств линейных время инвариантных систем путём 
разработки программных модулей для их системных функций. В частности, мы:
<ul>
	<li> 
		Реализовать класс SystemFunction для представления системных 
		функций LTI в виде отношений полиномов в R.
	</li>
	<li> 
		Разработать операции по объединению функций системы.
	</li>
</ul>
</div>


<h2>Подготовка</h2>
<ul>
	<li>
		Убедитесь, что у вас установлены программные библиотеки 6.01.
		Если нет то установите, выполнив:
<pre>
<code>
sudo apt update
sudo apt install idle-python2.7
wget https://vadimgb.github.io/psets/data/lib601.zip
uznip lib601.zip
cd lib601/
sudo python2 setup.py install
</code>
</pre>

	</li>
	<li>
		Установите модуль numpy.
		<pre>
		<code>
		sudo apt install python-pip
		python2 -m pip install numpy
		</code>
		</pre>
	</li>
			
	<li> 
		Скачайте и разархивируйте <a href="/psets/data/swLab05.zip">swLab05.zip</a>.
	</li>
</ul>

<h2> Класс системных функций</h2>
<div class="alert alert-light">
Цель: реализовать класс Python SystemFunction для 
представления системных функций и определения основных 
свойств системы на основе её полюсов.
</div>

<div class="alert alert-light">
	Ресурсы:
	<ul>
		<li> 
			<a href="https://ocw.mit.edu/ans7870/6/6.01sc/documentation/sf-module.html">Документация на sf модуль</a> 
		</li>
		<li>
			sfSkeleton.py: шаблон для создания вами класса SystemFunction
		</li>
		<li>
			swLabs05Work.py: шаблон для работы с классом SystemFunction
		</li>
	</ul>
</div>

<p>
Систему LTI можно представить через её системную функцию, 
которая задаётся отношением полиномов от R 
(R оператор «сдвига вправо», единичная задержка).
Мы можем смоделировать это в Python с помощью класса SystemFunction, 
который имеет следующие методы:
<p>
<ul>
	<li>
		__init__(self, numeratorPoly, denominatorPoly): 
		принимает два экземпляра класса 
		<a href="http://ocw.mit.edu/ans7870/6/6.01sc/documentation/poly.Polynomial-class.html">Polynomial</a> 
		в качестве 
		входных данных и сохраняет их в этом экземпляре SystemFunction 
		в качестве атрибутов numerator и denominator.
	</li>
	<li>
		poles(self): возвращает список полюсов системы.  
		Помните, что полюса — это корни многочлена от z, где z = 1/R.
	</li>
	<li> 
		poleMagnitudes(self): возвращает список величин полюсов системы.  
		Величина реального полюса — это просто его абсолютное значение.  
		Величина комплексного полюса равна квадратному корню из суммы 
		квадратов его действительной и мнимой частей.  
		Функция abs в Python выполняет соответствующие 
		вычисления для обоих типов.
	</li>
	<li> 
		dominantPole(self): возвращает один из полюсов с 
		наибольшей величиной.  
		Если два или более полюса имеют одинаковую наибольшую величину, 
		то любой из этих полюсов может быть возвращён.
	</li>
</ul>

<h2>Детальное руководство</h2>
<h3>Шаг первый</h3>
<p>Отредактируйте sfSkeleton.py, чтобы он содержал вашу 
реализацию этих методов.
Вы можете протестировать его с помощью swLab05Work.py, который загрузит ваш 
sfSkeleton.py.
Мы настроили swLab05Work.py для импорта ваших определений из sfSkeleton.py как sf, 
чтобы примеры соответствовали примерам в разделе 4.
Обратите внимание, что swLab05Work.py содержит тестовые примеры 
для всех частей этой лабораторной работы, поэтому, 
если вы запустите весь файл, вы получите ошибки, связанные с функциями, 
которые вы ещё не написали.
</p>

<h4>Советы и предостережения</h4>
<ul>
	<li>
		Чтобы создать полином, используйте poly.Polynomial([...])
	</li>
	<li> 
		Ни одна из реализуемых вами операций не должна изменять 
		свои аргументы.  
		Будьте очень осторожны с операциями со списками, 
		которые изменяют входные списки; например, x.append, 
		x.insert и x.reverse.
	</li>
	<li>
		Если у вас есть список, привязанный к переменной x, 
		то x.reverse() меняет порядок элементов списка x.  
		Если вы не хотите влиять на исходный x, 
		вам нужно сначала скопировать список, например, 
		выполнив y = x[:].  
		Обратите внимание, что y = x не копирует список, а просто 
		создаёт новое имя для того же списка.
	</li>
	<li> 
		Возможно, вы захотите использовать процедуру util.argmax(l, f), 
		которая принимает в качестве входных данных список l, и 
		процедуру f, которая может принимать элемент l в качестве 
		входа и возвращать число в качестве выхода.  
		Результатом является элемент l, для которого f 
		выдаёт наибольшее значение.
	</li> 
</ul>

<h2>Объединение системных функций</h2>
<div class="alert alert-light">
Цель: разработать две основные операции, Cascade и FeedbackSubtract, 
для объединения системных функций, аналогичных операциям, 
которые мы видели для конечных автоматов.
</div>

<h3>Шаг 2.</h3>
Выполните задания с  каскадным соединением системных функций.
<h3>Шаг 3.</h3>
<p>В sfSkeleton.py реализуйте процедуру Cascade(sf1, sf2), 
которая принимает два экземпляра класса SystemFunction и 
возвращает новый экземпляр этого класса, 
представляющий каскадную композицию входных систем.
Хотя это процедура, а не класс, мы пишем имя с заглавной буквы 
по аналогии с классом sm.Cascade.
</p>

<h2>Примеры</h2>
<p>Эти примеры, взятые из лекции, включены в swLab05Work.py.
</p>
<p>Действительные полюсы:</p>
<pre>
<code>
>>> s1 = sf.SystemFunction(poly.Polynomial([1]), 
	poly.Polynomial([0.63, -1.6, 1]))
>>> print s1
SF(1.000/0.630 R**2 + -1.600R + 1.000)
>>> s1.poles()
[0.90000000000000069, 0.69999999999999951]
>>> s1.poleMagnitudes()
[0.90000000000000069, 0.69999999999999951]
>>> s1.dominantPole()
0.90000000000000069
</code>
</pre>
<p>Комплексные полюсы:</p>
<pre>
<code>
>>> s2 = sf.SystemFunction(poly.Polynomial([1]),
poly.Polynomial([1.1, -1.9, 1]))
>>> print s2
SF(1.000/1.100 R**2 + -1.900R + 1.000)
>>> s2.poles()
[(0.94999999999999996+0.44440972086577957j), (0.94999999999999996-0.44440972086577957j)]
>>> s2.poleMagnitudes()
[1.0488088481701516, 1.0488088481701516]
>>> s2.dominantPole()
(0.94999999999999996+0.44440972086577957j)
</code>
</pre>
<p>Подъезжаем к стене пример из заметок:</p>
<pre>
<code>
>>> T = 0.1
>>> k = -2.0
>>> controller = sf.SystemFunction(poly.Polynomial([k]),
poly.Polynomial([1]))
>>> print controller
SF(-2.000/1.000)
>>> plant = sf.SystemFunction(poly.Polynomial([-T, 0]),
poly.Polynomial([-1, 1]))
>>> print plant
SF(-0.100R/-1.000R + 1.000)
>>> controllerAndPlant = sf.Cascade(controller, plant)
>>> print controllerAndPlant
SF(0.200R/-1.000R + 1.000)
>>> wall = sf.FeedbackSubtract(controllerAndPlant)
>>> print wall
SF(0.200R/-0.800R + 1.000)
>>> wall.poles()
[0.80000000000000004]
</code>
</pre>



{% endblock %}
