{% extends "layout.html" %}
{% block title %}
	Турникет
{% endblock %}
{% block body %}
<h1>Турникет</h1>
<p>Ниже приведена диаграмма переходов состояний для турникета.</p>
<img  src="/psets/data/images/turnstile.png">
<p>В файле turnstile.py завершите определение класса Turnstile, замените Q1, Q2, Q3, Q4, Q5, Q6,...</p>
<pre>
<code class="language-python">
import sm
class Turnstile(sm.SM):
	startState = 'locked'
	def getNextValues(self, state, inp):
		if state == 'locked':
			if inp == 'coin':
				return (Q1, Q2)
			else:
				return (Q3, Q4)
		else:	# state == 'unlocked'
			if inp == 'turn':
				return (Q5, Q6)
			else:
				return (Q7, Q8)
</code>
</pre>
Используйте класс SM из файла <a href="/psets/data/sm.py">sm.py</a>.

<h2>Шаги выполнения</h2>
Зайдите на <a href="https://cs50.dev">cs50.dev</a>. 
Сделайте рабочим каталогом вашу Codespace.
Создайте каталог turnstile,  выполнив
<pre>
<code>mkdir turnstile</code>
</pre>
Перейдите в каталог.
<pre>
<code>cd turnstile</code>
</pre>
Закачайте файлы sm.py, turnstile.py выполнив
<pre>
<code>
wget https://vadimgb.github.io/psets/data/sm.py 
wget https://vadimgb.github.io/psets/data/turnstile.py 
</code>
</pre>
Откройте файл turnstile.py, выполнив
<pre>
<code>
code turnstile.py
</code>
</pre>
Дополните файл.

<h2>Как проверить</h2>
<ul>
	<li>
	Сделайте рабочим каталог с программой, 
	</li>
	<li>
	Запустите программу, выполнив <code>python turnstile.py</code>.
	</li>
</ul>

Вы можете проверить правильность выполнения задания, выполнив команду
<pre>
<code>npx cs204 2023/turnstile local</code>
</pre>
Для отправки на проверку выполните команду
<pre>
<code>npx cs204 2023/turnstile</code>
</pre>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2023/turnstile/c">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
<br>

{% endblock %}

