{% extends "layout.html" %}
{% block title %}
	Удар о стену	
{% endblock %}
{% block body %}

<div class="text-center">
  <figure class="figure"> 

<img src="/psets/data/images/plant_controller.png" class="img-fluid">
<figcaption class="figure-caption">Рисунок 1. Структура системы управления.</figcaption>
	  </figure>
 </div>
<p>Создайте модель робота. \(d_o[n]\) - текущее расстояние до стены от робота ('o' означает output).
\(d_i[n]\) означает желаемую дистанцию до стены от робота ('i' означает input). v означает скорость 
робота. \(T=0.1\) представляет время между шагами.
</p>
<p>
Предполагаем, что робот мгновенно изменяет скорость, когда получает команду и сохраняет её до следующей
команды.
</p>

<p>
Проверьте себя. Даны следующие условия, какой будет расстояние до стены на шаге 1.</p>

<table class="table">
  <tr>
	  <td>
		  v[0]=1
	  </td>
	  <td>\(d_o[0]=3\)</td>
  </tr>
  <tr>
	  <td>
		  v[1]=2
		  </td>
		  <td>
			  \(d_o[1]=\)<input size=2>
		  </td>
	  </tr>

</table>
<p> 
Предположим, что система имеет структуру, показанную на рисунке 1.  
Предположим, что датчик измеряет текущее расстояние \(d_o[n]\)	 и 
генерирует измеренное расстояние \(d_s[n]\), 
которое равно текущему расстоянию с задержкой на один шаг.  
Пусть \(e[n]\) представляет сигнал ошибки, который равен разнице между 
входным расстоянием \(d_i[n]\) и измеренным расстоянием \(d_s[n]\).  
На каждом шаге контроллер задаёт скорость движения вперёд \(v[n]\),
пропорционально ошибке, так что \(v[n] = k e[n]\).  
Выберите k так, чтобы скорость составляла 5 м/с, 
когда желаемое местоположение находится на расстоянии 1 м от робота 
(подумайте о предыдущем рисунке, показывающем положение робота, 
чтобы помочь сформулировать этот расчёт для k).
</p>
<div class="text-center">
		  <figure class="figure"> 

<img src="/psets/data/images/plant_controller2.png" class="img-fluid">
<figcaption class="figure-caption">Проверьте себя. Подпишите сигналы на схеме. \(d_o, d_i, d_s, v, e\).</figcaption>
	  </figure>
  </div>
  <p>Определите разностные уравнения (используя константы T и k), 
  чтобы связать входные и выходные сигналы следующих компонентов системы.
  </p>
  <div class="row"> 
	  <label for="controller" class="col-sm-2 col-form-label">контроллер</label> 
	  <div class="col-sm-10"> 
		  <input id="controller" class="form-control"> 
	  </div>
  </div> 

  <div class="row"> 
	  <label for="plant" class="col-sm-2 col-form-label">модель робота</label> 
	  <div class="col-sm-10"> 
		  <input id="plant" class="form-control"> 
	  </div>
  </div> 

  <div class="row"> 
	  <label for="sensor" class="col-sm-2 col-form-label">модель сенсоров</label> 
	  <div class="col-sm-10"> 
		  <input id="sensor" class="form-control">
	  </div>
  </div>


<p>Объедините эти уравнения, чтобы получить разностное уравнение, которое связывает \(d_o\) с \(d_i\) , 
следующим образом: 
</p>
<ol>
  <li>Преобразуя разностные уравнений в операторные уравнения по R.</li>
  <li>Решая \(D_o\) через \(D_i\) и </li>
  <li>Конвертируя операторное уравнение обратно в разностное</li> 
</ol>


{% endblock %}

