{% extends "layout.html" %}
{% block title %}
	Open source workflow.
{% endblock %}
{% block body %}
<h1>
	Open source workflow.
</h1>
<p>Зайдите на <a href="https://github.com/cs203/413">https://github.com/cs203/413</a>. Нажмите на кнопку Fork.  
У вас будет создана копия репозитория. Скопируйте его адрес. Зайдите в cs50.dev. 
Отключите плагин gitdoc. 
Перейдите в домашний каталог, сколонируйте репозиторий.
<pre>
<code>
cd ~
git clone адрес
</code>
</pre>
Перейдите в каталог 413.  Создайте ветку dev,  перейдите в неё.
<pre>
<code>
cd 413
git branch dev
git checkout dev
</code>
</pre>
Создайте свою веб страницу
на любую тему, сделайте на неё ссылку из index.html. 
Выполните
<pre>
<code>
git add .
git commit -m "ваше название"
</code>
</pre>
Добавьте информацию об основном репозитории. Перейдите в ветку main.
<pre>
<code>
git remote add upstream https://github.com/cs203/413.git 
git checkout main
</code>
</pre>
Закачайте изменения. Соедините их с вашими. Загрузите результат.
<pre>
<code>
git fetch upstream
git merge upstream
git merge dev
git push origin main 
</code>
</pre>
Зайдите на github, создайте pull request.
</p>


{% endblock %}
