{% extends "layout.html" %}
{% block tytle %}
Canvas
{% endblock %}

{% block body %}

<h1>Canvas</h1>
		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/oaUawrsIKAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-pKXO2Mlbq="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
		<br>
<ul>
	<li>
	<a href="notes_canvas.html">Заметки</a>
	</li>
	<li>
	<a href="/psets/eight.html">Задание</a>
	</li>
</ul>
{% endblock %}
