
{% extends "layout.html" %}
{% block tytle %}
Неделя 3
{% endblock %}

{% block body %}

<h1>Javascript, nodejs.</h1>

		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/oaUZ4fJgKAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-ankLQtxmi="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>

<ul>
	<li>
		<a href="notes_javascript.html">Заметки</a>
	</li>
	<li>
		<a href="static/javascript.zip">исходный код к лекции</a>
	</li>
</ul>
{% endblock %}
