
{% extends "layout.html" %}
{% block tytle %}
Задача о рюкзаке
{% endblock %}

{% block body %}

<h1>Задача о рюкзаке</h1>

		<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://dzen.ru/embed/oaUZ2nsIKAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" data-pKXO2Mlbq="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
<ul>
	<li>
		<a href="notes_knapsack.html">Заметки</a>
	</li>
	<li>
		<a href="pset_knapsack.html">Задание</a>
	</li>
	<li>
		<a href="../weeks/week4.zip">Исходный код к лекции</a>
	</li>
</ul>
{% endblock %}
