{% extends "layout.html" %}
{% block tytle %}
SQL
{% endblock %}

{% block body %}

<h1>SQL</h1>
<p>Создание базы данных на render.com</p>
<iframe width="640" height="498" 
	src="https://dzen.ru/embed/vpFsmxMq1IRQ?from_block=partner&from=zen&backoffice=1&mute=1&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
<br>
<p>Создание таблиц, ввод в них данных.</p>
<iframe width="640" height="498" 
	src="https://dzen.ru/embed/vvu3sa2eJsDA?from_block=partner&from=zen&backoffice=1&mute=1&autoplay=0&tv=0" 
	allow="autoplay; fullscreen; accelerometer; gyroscope; 
	picture-in-picture; encrypted-media" frameborder="0" scrolling="no" 
	allowfullscreen=""></iframe>
<br>
<p>Создание веб приложение с базой данных.</p>
<iframe width="640" height="498" src="https://dzen.ru/embed/vH-tDjjtxYRY?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
<ul>
	<li>
		<a href="notes_sql.html">Заметки</a>
	</li>
	<li>
		<a href="/psets/2021_sql.html">Задание</a>
	</li>
</ul>

{% endblock %}
