{% extends "layout.html" %}
{% block title %}
Cookie
{% endblock %}


{% block body %}
<header>

<h1>Cookie</h1>
</header>
<ul>
	<li>
		<div class="embed-responsive embed-responsive-4by3">
		<iframe src="https://www.youtube.com/embed/Us8jQMlRjIg?si=x2_hINnLhNXHAmTN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

	</li>
	<li><a href ="notes_cookie.html">Заметки</a></li> 
	<li><a href ="/cs23/data/code_examples/cookie/cookie.zip">Исходынй код</a></li>
</ul>

{% endblock %}


