
{% extends "layout.html" %}
{% block title %}
Переменные и функции.
{% endblock %}


{% block body %}
<header>

<h1>Переменные и функции.</h1>
</header>
<br>

		<div class="embed-responsive embed-responsive-4by3">
			<iframe  src="https://www.youtube.com/embed/t7k1hXkkQRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

<br>

<ul>
	<li><a href ="notes_functions.html">Заметки</a></li> 
	<li><a href="pset_functions.html">Задания</a></li>
</ul>
{% endblock %}
