

{% extends "layout.html" %}
{% block tytle %}
Регулярные выражения
{% endblock %}


{% block body %}
<p>Материал взят с <a href="https://cs50.harvard.edu/python/2022/notes/7/#extracting-user-input">https://cs50.harvard.edu/python/2022/notes/7/#extracting-user-input</a>
</p>
<h1>
	Регулярные выражения
</h1>
<hr>
<p>
Регуля́рные выраже́ния (англ. regular expressions) — формальный язык, 
используемый   для поиска и осуществления манипуляций с подстроками в тексте, 
основанный на использовании метасимволов. Для поиска используется 
строка-образец (англ. pattern), состоящая из символов и метасимволов 
и задающая правило поиска. 
</p>
<p>
Для манипуляций с текстом дополнительно задаётся строка замены, 
которая также может содержать в себе специальные символы.
</p>

<p>
	python имеет библиотеку re в ней есть функции 
		использующие регулярные выражения.
		Справка по <a href="https://digitology.tech/docs/python_3/library/re.html">re</a>.
</p>
<p>
Рассмотрим примеры использования этой библиотеки.
Например, нам может потребоваться проверить правильность формата 
адреса электронной почты. 
Создадим файл validate.py.
Для начала введите code validate.py в окне терминала. 
Затем напишите в текстовом редакторе следующий код:
</p>
<pre>
<code class="language-python">
import re
email = input("What's your email? ").strip()

if re.search(".+@.+", email): 
    print("Valid")
else: 
    print("Invalid")
</code>
</pre>
Ниже приведены некоторые специальные символы языка регулярных выражений.
<pre>
<code>
. любой символ, кроме новой строки
* 0 или больше повторений
+ 1 или больше повторений
? 0 или 1 потвторение
{m} m повторений
{m, n} m-n повторений
^ обозначает начало строки
$ соответствует концу строки
[] множество симолов
[^] дополнение к множетству
\d десятичные цифры
\D не десятичные цифры
\s пробельные символы
\S не пробельные символы
\w буквы, цифры, символ подчёркивания (word character)
\W not word character 
A|B A или  B 
(...) группа
(?:...) группа, но без захвата
</code>
</pre>

<p>
Теперь давайте извлечем некоторую конкретную информацию из пользовательского ввода. 
В окне терминала введите code twitter.py и введите следующий код в окне 
текстового редактора:
</p>
<pre>
<code class="language-python">
import re
url = input("URL: ").strip()
matches = re.search(r"^(?:https?://)?(?:www\.)?twitter\.com/(\w+)$", url, re.IGNORECASE)
if matches:
    print(f"Username:", matches.group(1))
</code>
</pre>


{% endblock %}

