{% extends "layout.html" %}
{% block title %}
Информатика
{% endblock %}


{% block body %}
<header>

</header>
<main>
 <ul>
	 <li><a href="cs23/index.html">Информатика</a></li>

	 <!--	
	 <li><a href="tech/index.html">Информационные технологии(625, 624)</a></li>
	 <li><a href="cpp/index.html">433</a></li>
	 
	 <li><a href="dist25/index.html">231, 221, 222 ЛПиП(2025)</a></li>
	 <li><a href="modeling/index.html">Моделирование систем</a></li>
	<li><a href="python23/index.html">Python и технологии программирования</a></li>
	 <li><a href="cs21/index.html">2021-2022</a></li>
-->


 </ul>
</main>
{% endblock %}


