{% extends "layout.html" %}
{% block title %}
C++
{% endblock %}


{% block body %}
<header>
</header>
<h1>Литература</h1>
<ul>
	<li>Бьярне Страуструп. Программирование: принципы и практкика с использованием С++, 
		2-е изд.: Пер.с англ. - М.: ООО "Вильямс", 2016. - 1328с.</li>
	<li>Страуструп, Бьярне. Язык программриования С++. Краткий курс. 2-у изд. Пер. с англ. -
		СПб.: ООО "Диалектика", 2019. - 320 с.</li>
	<li><a href="http://www.icodeguru.com/cpp/CppInAction/index-14.htm">C++ in Action: Industrial Strength Programing Techniques</a> by Bartosz Milewski</li>
	<li>Степанов, Александр. Начала программирования. : Пер. с англ. - М.: ООО "И. Д. Вильямс", 2011. - 272с.</li>
</ul>

 <footer>
	 Если вы нашли ошибки в тексте, то напишите на vadim@tspu.edu.ru</a>. 
 </footer>
{% endblock %}


