{% extends "layout.html" %}
{% block title %}
Задание недели 6
{% endblock %}


{% block body %}
<header> 
	<h1>Восьмерки</h1> 
</header> 

<canvas id="canvas" width=300 height=300></canvas>
<script src="/cs21/data/eight/js/main.js" type="module"></script>
<p>Восьмёрки - головоломка. Представляет собой набор одинаковых квадратных костяшек с нанесёнными числами, 
заключённых в квадратную коробку. Длина стороны коробки в три раза больше длины 
стороны костяшек для набора из 8 элементов, 
соответственно в коробке остаётся незаполненным одно квадратное поле. 
Цель игры — перемещая костяшки по коробке, добиться упорядочивания их по номерам, 
желательно сделав как можно меньше перемещений.</p>
<h2>Задание</h2>
<ol>
	<li> Создайте игру восьмёрки, используя html, css, javascript. В видео ниже пример того, как это можно 
		сделать. Вы можете скачать <a href="/cs21/data/eight.zip">исходный код</a> из видео.
	</li>	
	<li>Разместите свою игру на сайте надели 2.
	</li>
	<li> 
	Заполните <a href="http://90.188.117.161:8080/character/pset/2021/eight/v">форму.</a>
	Укажите в форме ссылку на вашу игру.
	</li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

</ol>
<iframe  width="640" height="498" src="https://www.youtube.com/embed/8ZlG8h7ICqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
