{% extends "layout.html" %}
{% block tytle %}
Express js
{% endblock %}

{% block body %}

<h1>Express js</h1>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VgZ_dOE71ik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<ul>
	<li>
		<a href="notes_express.html">Заметки</a>
	</li>
	<li>
		<a href="express_p.html">Задание</a>
	</li>
</ul>
{% endblock %}
