{% extends "layout.html" %}
{% block tytle %}
Express js
{% endblock %}

{% block body %}

<h1>Express js</h1>
<p>Создание веб приложения.</p>
<br>
<iframe  width="640" height="498" src="https://www.youtube.com/embed/yzezHQQvqQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p>Размещение на render.com.</p>
<iframe  width="640" height="498" src="https://www.youtube.com/embed/h6xvMIbxNdI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<ul>
	<li>
		<a href="notes_express.html">Заметки</a>
	</li>
	<li>
		<a href="express_p.html">Задание</a>
	</li>
</ul>
{% endblock %}
