{% extends "layout.html" %}
{% block tytle %}
Логика
{% endblock %}

{% block body %}

<h1>Логика</h1>
<ul>
	<li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7FVh-gihVsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</li>
	<li><a href="data/logic.pdf">Слайды</a></li>
	<li><a href="logic_pset.html">Задание</a>
	<li><a href="data/logic.zip">Исходный код</a></li>

</ul>
{% endblock %}
