{% extends "layout.html" %}
{% block tytle %}
SQL 
{% endblock %}

{% block body %}
<h1>SQL</h1>
Технология баз данных используется для сохранения данных на дисках, 
поиска нужной информации. Хранящиеся данные мы будем называть базой данных.
Мы создадим базу данных,  в которой будем сохранять оценки студентов.
Мы будем использовать 
систему управления базами данных (СУБД) PostgreSQL.
Сервер PostgreSQL - запускается на компьютере на котором хранятся и сами данные.
Сервер принимает запросы от программ клиентов, написанные на языке SQL, и возвращает ответы.

<h2>Создание базы данных на render.com</h2>
<p>Мы могли бы установить postgresql локально,
но мы разместим нашу базу данных на render.com,
online web hosting service.</p>
<ol>
	<li> Зайдите на <a href="https://render.com/">https://render.com/</a>, создайте аккаунт, если его ещё нет.</li>
	<li>На dashboard   "New" и выберите "PostgreSQL".</li>
	<li>Поле Name задайте значение hogwarts. Нажмите конопку Create Database</li>
	<li>Скопируйте в ide значения internal Database URL, External Database URL.</li>
</ol>

В URL  указан протокол postgres, имя пользователя, пароль, адрес сервера, название базы данных.
Нам будет удобно сохранить external URL  в переменную окружения, чтобы иметь к ней доступ из разных программ.
Перейдите в ide.cs50.io, создайте в домашнем каталоге файл с именем .profile .
В этом файле введите строку
<pre>
<code>
export DATABASE_URL=ваш_url
</pre>
</code>
Закройте терминал, откройте снова. Когда мы открываем терминал,
он считывает ~/.profile и выполняет команды в нём. Написанная нами
строчка создаёт переменную окружения. Проверьте, что терминал имеет к ней
доступ, для этого введите в терминале 
<pre>
<code>
echo $DATABASE_URL
</code>
</pre>
В терминале должен появиться ваш URL.

<h2>psql</h2>
Выполните в терминале 
<pre>
<code>
psql $DATABASE_URL
</code>
</pre>
Если все прошло удачно, то перед нами окно, в котором мы можем вводить 
запросы к серверу.
Нам надо освоить четыре вида запросов на языке SQL: создать, прочитать, изменить и удалить.
Начнём с создать. Создадим таблицу  задания.
<pre>
<code>
create table задания(id serial, название text, primary key(id));
</code>
</pre>
Первый столбец таблицы мы назвали id, тип данных serial - это
целые числа автоматически увеличивающиеся, столбец id будет primary key (первичный ключ), мы будем использовать значения из него 
для ссылки из других таблиц. 
Столбец называние будет содержать данные типа текст. 
Добавим данные в таблицу.
<pre>
<code>
insert into задания(название) values ('Приворотное зелье'), ('Напиток живой смерти');
</code>
</pre>
Это было запрос на изменение таблиц. Выполним запрос на чтение.
<pre>
<code>
select * from задания;
</code>
</pre>
Удалить таблицу можно выполнив запрос.
<pre>
<code>
drop table if exists имя_таблицы;
</code>
</pre>
Создадим таблицы студенты и оценки.
<pre>
<code>
create table студенты (id serial, фамилия text, имя text, primary key(id));

create table оценки(id_студента int,  
id_задания int , оценка int,
foreign key(id_студента) references студенты(id),
foreign key(id_задания) references задания(id),
primary key(id_студента, id_задания));
</code>
</pre>
Для таблицы оценки первичный ключ состоит из двух полей, 
за одно задание студент получает одну оценку.
Для выхода из psql введите <kbd>Ctrl+d</kbd>.

<h2>SQL запросы из nodejs</h2>
Создайте папку hogwarts. Перейдите в неё.
Инициализируйте npm, выполнив <kbd>npm init -y</kbd>.
Для работы с PostgreSQL утсановите модуль pg.
<pre>
<code>
npm install pg
</code>
</pre>
Создайте файл pgConfig.js
<pre>
<code>
//Импортируем класс Pool из модуля pg
const {Pool} = require("pg")

//Создаём пул соединений с сервером.
const pool = new Pool({connectionString: process.env.DATABASE_URL,
	    ssl: { rejectUnauthorized: false}
})

module.exports.pool = pool 
</code>
</pre>
<p>Объект process, предоставляет информацию о текущем процессе.
Через свойство env мы получаем доступ к переменным окружения.
</p>
<p>Создайте файл test.js.
<pre>
<code>
const {pool} = require('./pgConfig')
pool.query('select * from задания;', (err, res)=>
	{
		if(err) console.log('Ошибка:', err)
		else
		{
			console.log(res.rows)
			pool.end()
		}
	}
)
</code>
</pre>
Выполним в терминале команду <kbd>node test.js</kbd>.
Мы получим список строк, каждая строка представлена объектом.
query - это асинхронная функция, её первый аргумент - sql 
запрос, второй - функция обратного вызова. Она будет вызываться
node, после получения ответа от сервера.

<h2>Связь веб приложения с БД.</h2>
Для создания веб приложения, установим модули.
<pre>
<code>
npm install express ejs body-parser
</code>
</pre>
Создайте файл index.js
<pre>
<code>
const express = require('express')
const {pool} = require('./pgConfig')
const port = process.env.PORT || 8080
const app = express()

app.get('/', (req, res) =>
{
    const sql1 = `select * from задания;`

    pool.query(sql1, (err, resp) =>
    {
        if(err)
            console.log('Error:', err)
        else
        {
            res.render('problemset.ejs', {rows: resp.rows})
        }
    })

})

app.listen(port, ()=>
    console.log('Приложение слушает порт:', port)
    )
</code>
</pre>
Мы создаём объект app, если он получает запрос методом get 
на маршрут /, то делает запрос к базе данных, возвращает 
страницу построенную с использованием данных из БД.
<br>
Создадим каталог views, в нём мы будем сохранять шаблоны веб страниц.
Создайте в нём файл problemset.ejs.
<pre>
<code id=pset_html>
</code>
</pre>

	<script>
		fetch("static/sql/pset.html")
				.then(responce => responce.text())
				.then(data=>{
					let pset_html = document.querySelector("#pset_html")
					pset_html.innerText = data
				})
	</script>
Выполним <kbd>node index.js</kbd>.
Зайдите на свой сайт. 


{% endblock %}




