{% extends "layout.html" %}
{% block title %}
Задание SQL 
{% endblock %}


{% block body %}
<header> 
	<h1>Задание SQL</h1> 
</header> 

<p>Посмотрите видео к лекции, создайте базу данных на 
heroku и веб приложение, как показано в видео. 
Перенести веб приложение на heroku, как 
показано в лекции про express.
</p>
<h2>Как отправить на проверку</h2>
<p>В <a href="http://90.188.117.161:8080/character/pset/2021/sql/v">форме</a> укажите адрес вашего приложения на heroku. 
</p>
<p>Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.</p>
{% endblock %}
