{% extends "layout.html" %}
{% block title %}
virtualbox
{% endblock %}

{% block body %}

<h1>virtualbox</h1>
<p>Зайдите на сайт <a href="https://www.virtualbox.org/">https://virtualbox.org</a>, 
закачайте и установите virtualbox.
</p>
<p>С сайта <a href="https://www.basealt.ru/">https://www.basealt.ru/</a> закачайте iso образ
рабочей станции.</p>
<p>Запустите virtualbox, создайте виртуальную машину, установите на неё altlinux.</p>
<p>Запустите созданную вами машину, откройте терминал, установите программу vokoscreenNG, выполнив 
</p>
<pre>
<code>
~/$su
~/$apt-get update
~/$apt-get install vokoscreenNG 
</code>
</pre>
<p>Запустите vokoscreen, запишите в нём, как 
вы создаёте текстовый документ в программе
libreOffice writer и сохраняете его в папке Документы.
Остановите запись, выложите созданный вами файл записи
на yotube, ссылку на видео укажите в форме ниже.</p>


<h2>Заполните форму</h2>
<a href="http://90.188.117.161:8080/character/pset/2021/virtualbox/v">форма отправки на проверку</a>
<br>
Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
</br>

<iframe  width="640" height="498" src="https://www.youtube.com/embed/iFM7Eonhu7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}
