{% extends "layout.html" %}
{% block title %}
Задание - восьмерки с ИИ.
{% endblock %}
{% block body %}
<h1>Восмьерки с поиском</h1>
<ol>
<li>В лекции реализована игра восьмерки с алгоритом поиска.
Вам надо создать свой вариант и разменстить его на сайте недели 2.</li>
<li> 
	Заполните <a href="https://cs204.herokuapp.com/character/pset/10/v">форму.</a>
	Укажите в форме ссылку на вашу игру.
	</li>
	
	<br>
Свои оценки вы можете посмотреть на <a href="https://cs204.herokuapp.com">https://cs204.herokuapp.com</a>.
</ol>

{% endblock %}
