{% extends "layout.html" %}
{% block tytle %}
Поиск
{% endblock %}

{% block body %}

<h1>Поиск</h1>
<ul>
	<li>
		Алгоритм поиска<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HrDfyS8y20c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</li>
	<li>
		Восьмёрки с ии.
		<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jAqtm2UfM50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</li>
	<li>
		<a href="notes7.html">Заметки</a>
	</li>
	<li>
		<a href="pset7.html">Задание</a>
	<li>
	<a href="/cs21/data/search.zip">Исходный код</a>
	</li>
	<li>
	<a href="/cs21/data/eight_ai.zip">Исходный код восьмёрок с ии</a>
	</li>
</ul>
{% endblock %}
