{% extends "layout.html" %}
{% block title %}
Стили программирования
{% endblock %}


{% block body %}
<header>

<h1>Автоматы</h1>
</header>

<ul>

	<li>
	<div class="embed-responsive embed-responsive-4by3">
<iframe  src="https://www.youtube.com/embed/JwWnCZI_WVI?si=JiSiFcKMV_Kui8TE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
	</li>
	<li><a href="/modeling/data/slides/programming_styles.pdf">Слайды с mit</a></li>
</ul>
{% endblock %}
