
{% extends "layout.html" %}
{% block title %}
Поиск
{% endblock %}


{% block body %}
<header>

<h1>
	Поиск
</h1>
</header>

<iframe width="640" height="498" src="https://www.youtube.com/embed/MyRRlE_wd-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<!---------
	560 315
<iframe width="640" height="498" 
	src="https://dzen.ru/embed/vwjn1M9S0NHI?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
	--->
<br>


<ul>

	<li><a href ="notes_search.html">Заметки</a></li> 

	<li><a href="pset_search.html">Задания</a></li>
	<li><a href="/psets/data/search_py.zip">Исходный код</a></li>
</ul>
{% endblock %}
