{% extends "layout.html" %}
{% block title %}
Векторизация текста и модель «мешка слов»
{% endblock %}


{% block body %}
<header>

<h1>
Векторизация текста и модель «мешка слов»
</h1>
</header>

<ul>
	<li><a href="data/slides/lec05.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="https://colab.research.google.com/drive/14rJIu7CUSAV3N32t9UwOpiL375bnHzb_?usp=sharing">Классификация музыкальных жанров в colab</a></li>

</ul>

Eng оригинал
<ul>
	<li><a href="data/slides/lec05eng.pdf" target="_blank">Слайды к лекции оригинал</a></li>
	<li><a href="https://colab.research.google.com/drive/1u-6wjRZKvZWV1p2OFFF_NMI-bW9gYKuf?usp=sharing">colab original</a></li>
</ul>
{% endblock %}
