{% extends "layout.html" %}
{% block title %}
Сверточные сети
{% endblock %}


{% block body %}
<header>

<h1>
Глубокое обучение для компьютерного зрения -- Сверточные нейронные сети и трансферное обучение
</h1>
</header>

<ul>
	<li><a href="data/slides/lec04.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="data/mit15_773_s24_lec04_convolution_example.xlsx">Пример в табличном процессоре</a></li>
	<li><a href="https://colab.research.google.com/drive/1SlfWDQXI5_IjJ8dC2jFnOqh00AOvpX2H?usp=sharing">Fashion MNIST c CNN</a></li>
	<li><a href="https://drive.google.com/file/d/1asTOuX0gu1KXmYSNcFQo02z-tR-Czx9_/view?usp=sharing">Классификатор сумок и обуви colab</a></li>

</ul>

Eng оригинал
<ul>
	<li><a href="data/slides/lec04eng.pdf" target="_blank">Слайды к лекции оригинал</a></li>
	<li><a href="https://colab.research.google.com/drive/1hN7v4_Yt3E1TpHmH1n7PImFrjDrQ61_t?usp=sharing">CCN классификатор в colab</a></li>
	<li><a href="https://colab.research.google.com/drive/1TJU7ft-IrOOnA2H5s-Uj4oTB8PvZcz-3?usp=sharing"> Классификатор сумок и обуви в colab</a></li>
</ul>
{% endblock %}
