{% extends "layout.html" %}
{% block title %}
Глубокое обучение для компьютерного обучения
{% endblock %}


{% block body %}
<header>

<h1>Глубокое обучение для компьютерного обучения</h1>
</header>

<ul>
	<li><a href="data/slides/lec03bru.pdf" target="_blank">Слайды к лекции</a></li>
	<li><a href="data/slides/lec03b.pdf" target="_blank">Слайды к лекции(original)</a></li>
	<li><a href="https://colab.research.google.com/drive/1IDS6F8nkfszgqm54EvvnCPaUBXGgsZzf?usp=sharing">colab</a></li>
	<li><a href="https://github.com/cs203/fashion/blob/master/example.ipynb">fashion</a></li>
	<li><a href="/psets/fashion.html">Задание</a></li>
</ul>
{% endblock %}
