{% extends "layout.html" %}
{% block title %}
cs50.dev
{% endblock %}


{% block body %}
<header>

<h1>Введение в ИИ</h1>
</header>

<ul>


	<!--		<iframe  src="https://www.youtube.com/embed/VcT6qt1d8EU?si=s_EgvLZOKnNE1nJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	-->
	<li><a href="data/slides/lec01.pdf" target="_blank">Слайды к лекции</a></li>
</ul>
{% endblock %}
